

.img-scale-x1{
    width: 10%;
    height: auto;
}
.img-scale-x2{
    width: 20%;
    height: auto;
}
.img-scale-x3{
    width: 30%;
    height: auto;
}
.img-scale-x4{
    width: 40%;
    height: auto;
}
.img-scale-x5{
    width: 50%;
    height: auto;
}
.img-scale-x6{
    width: 60%;
    height: auto;
}
.img-scale-x7{
    width: 70%;
    height: auto;
}
.img-scale-x8{
    width: 80%;
    height: auto;
}
.img-scale-x9{
    width: 90%;
    height: auto;
}
.img-scale-x10{
    width: 100%;
    height: auto;
}

.img-sm-x1{
    @media (min-width: 300px) {
        width: 10%;
        height: auto;
    }
}
.img-sm-x2{
    @media (min-width: 300px) {
        width: 20%;
        height: auto;
    }
}
.img-sm-x3{
    @media (min-width: 300px) {
        width: 30%;
        height: auto;
    }
}
.img-sm-x4{
    @media (min-width: 300px) {
        width: 40%;
        height: auto;
    }
}
.img-sm-x5{
    @media (min-width: 300px) {
        width: 50%;
        height: auto;
    }
}
.img-sm-x6{
    @media (min-width: 300px) {
        width: 60%;
        height: auto;
    }
}.img-sm-x7{
    @media (min-width: 300px) {
        width: 70%;
        height: auto;
    }
}
.img-sm-x8{
    @media (min-width: 300px) {
        width: 80%;
        height: auto;
    }
}
.img-sm-x9{
    @media (min-width: 300px) {
        width: 90%;
        height: auto;
    }
}

.img-scale-xl-1{
    @media (min-width: 1440px) {
        width: 5%;
        height: auto;
    }
}
.img-scale-xl-2{
    @media (min-width: 1440px) {
        width: 20%;
        height: auto;
    }
}
.img-scale-xl-3{
    @media (min-width: 1440px) {
        width: 30%;
        height: auto;
    }
}
.img-scale-xl-4{
    @media (min-width: 1440px) {
        width: 40%;
        height: auto;
    }
}
.img-scale-xl-5{
    @media (min-width: 1440px) {
        width: 50%;
        height: auto;
    }
}
.img-scale-xl-6{
    @media (min-width: 1440px) {
        width: 60%;
        height: auto;
    }
}
.img-scale-xl-7{
    @media (min-width: 1440px) {
        width: 70%;
        height: auto;
    }
}
.img-scale-xl-8{
    @media (min-width: 1440px) {
        width: 80%;
        height: auto;
    }
}
.img-scale-xl-9{
    @media (min-width: 1440px) {
        width: 90%;
        height: auto;
    }
}
.img-scale-xl-10{
    @media (min-width: 1440px) {
        width: 100%;
        height: auto;
    }
}