.marl-1{
    margin-left: 4rem;
}
.marl-2{
    margin-left: 6rem;
}
.marl-3{
    margin-left: 8rem;
}
.marl-4{
    margin-left: 10rem;
}
.marl-5{
    margin-left: 12rem;
}
.marl-6{
    margin-left: 14rem;
}
.marl-7{
    margin-left: 16rem;
}
.marl-8{
    margin-left: 18rem;
}
.marl-9{
    margin-left: 20rem;
}
.marl-10{
    margin-left: 22rem;
}

@media (min-width: 1200px){
    .marl-lg-1{
        margin-left: 4rem;
    }
    .marl-lg-2{
        margin-left: 6rem;
    }
    .marl-lg-3{
        margin-left: 8rem;
    }
    .marl-lg-4{
        margin-left: 10rem;
    }
    .marl-lg-5{
        margin-left: 12rem;
    }
    .marl-lg-6{
        margin-left: 14rem;
    }
    .marl-lg-7{
        margin-left: 16rem;
    }
    .marl-lg-8{
        margin-left: 18rem;
    }
    .marl-lg-9{
        margin-left: 20rem;
    }
    .marl-lg-10{
        margin-left: 22rem;
    }
}

@media (min-width: 1440px){
    .marl-xl-1{
        margin-left: 4rem;
    }
    .marl-xl-2{
        margin-left: 6rem;
    }
    .marl-xl-3{
        margin-left: 8rem;
    }
    .marl-xl-4{
        margin-left: 10rem;
    }
    .marl-xl-5{
        margin-left: 12rem;
    }
    .marl-xl-6{
        margin-left: 14rem;
    }
    .marl-xl-7{
        margin-left: 16rem;
    }
    .marl-xl-8{
        margin-left: 18rem;
    }
    .marl-xl-9{
        margin-left: 20rem;
    }
    .marl-xl-10{
        margin-left: 22rem;
    }
}


.marl-xxl-1{
    @media (min-width: 1440px) {
        margin-left: 5rem;
    }
}
.marl-xxl-2{
    @media (min-width: 1440px) {
        margin-left: 10rem;
    }
}
.marl-xxl-3{
    @media (min-width: 1440px) {
        margin-left: 15rem;
    }
}
.marl-xxl-4{
    @media (min-width: 1440px) {
        margin-left: 20rem;
    }
}
.marl-xxl-5{
    @media (min-width: 1440px) {
        margin-left: 25rem;
    }
}
.marl-xxl-6{
    @media (min-width: 1440px) {
        margin-left: 30rem;
    }
}
.marl-xxl-7{
    @media (min-width: 1440px) {
        margin-left: 35rem;
    }
}
.marl-xxl-8{
    @media (min-width: 1440px) {
        margin-left: 70rem;
    }
}
.marl-xxl-9{
    @media (min-width: 1440px) {
        margin-left: 90rem;
    }
}
.marl-xxl-10{
    @media (min-width: 1440px) {
        margin-left: 100rem;
    }
}