/* Margin global */
.mab-md-1{
    margin-bottom: 2rem;
}
.mab-md-2{
    margin-bottom: 4rem;
}
.mab-md-3{
    margin-bottom: 6rem;
}
.mab-md-4{
    margin-bottom: 8rem;
}
.mab-md-5{
    margin-bottom: 10rem;
}
.mab-md-6{
    margin-bottom: 12rem;
}
.mab-md-7{
    margin-bottom: 14rem;
}
.mab-md-8{
    margin-bottom: 16rem;
}
.mab-md-9{
    margin-bottom: 18rem;
}
.mab-md-10{
    margin-bottom: 20rem;
}

/* Margin md */
@media (min-width: 300x) {
    .mab-sm-1{
        margin-bottom: 2rem;
    }
    .mab-sm-2{
        margin-bottom: 4rem;
    }
    .mab-sm-3{
        margin-bottom: 6rem;
    }
    .mab-sm-4{
        margin-bottom: 8rem;
    }
    .mab-sm-5{
        margin-bottom: 10rem;
    }
    .mab-sm-6{
        margin-bottom: 12rem;
    }
    .mab-sm-7{
        margin-bottom: 14rem;
    }
    .mab-sm-8{
        margin-bottom: 16rem;
    }
    .mab-sm-9{
        margin-bottom: 18rem;
    }
    .mab-sm-10{
        margin-bottom: 20rem;
    }
}

/* Margin md */
@media (min-width: 768px) {
    .mab-md-1{
        margin-bottom: 2rem;
    }
    .mab-md-2{
        margin-bottom: 4rem;
    }
    .mab-md-3{
        margin-bottom: 6rem;
    }
    .mab-md-4{
        margin-bottom: 8rem;
    }
    .mab-md-5{
        margin-bottom: 10rem;
    }
    .mab-md-6{
        margin-bottom: 12rem;
    }
    .mab-md-7{
        margin-bottom: 14rem;
    }
    .mab-md-8{
        margin-bottom: 16rem;
    }
    .mab-md-9{
        margin-bottom: 18rem;
    }
    .mab-md-10{
        margin-bottom: 20rem;
    }
}

/* Margin lg */
@media (min-width: 900px) {
    .mab-lg-0{
        margin-bottom: 0;
    }
    .mab-lg-1{
        margin-bottom: 2rem;
    }
    .mab-lg-2{
        margin-bottom: 4rem;
    }
    .mab-lg-3{
        margin-bottom: 6rem;
    }
    .mab-lg-4{
        margin-bottom: 8rem;
    }
    .mab-lg-5{
        margin-bottom: 10rem;
    }
    .mab-lg-6{
        margin-bottom: 12rem;
    }
    .mab-lg-7{
        margin-bottom: 14rem;
    }
    .mab-lg-8{
        margin-bottom: 16rem;
    }
    .mab-lg-9{
        margin-bottom: 18rem;
    }
    .mab-lg-10{
        margin-bottom: 20rem;
    }
}

/* Margin xl */
@media (min-width: 12xlpx) {
    .mab-xl-0{
        margin-bottom: 0;
    }
    .mab-xl-1{
        margin-bottom: 2rem;
    }
    .mab-xl-2{
        margin-bottom: 4rem;
    }
    .mab-xl-3{
        margin-bottom: 6rem;
    }
    .mab-xl-4{
        margin-bottom: 8rem;
    }
    .mab-xl-5{
        margin-bottom: 10rem;
    }
    .mab-xl-6{
        margin-bottom: 12rem;
    }
    .mab-xl-7{
        margin-bottom: 14rem;
    }
    .mab-xl-8{
        margin-bottom: 16rem;
    }
    .mab-xl-9{
        margin-bottom: 18rem;
    }
    .mab-xl-10{
        margin-bottom: 20rem;
    }
}

/* Margin xl */
@media (min-width: 1440px){
    .mab-xl-1{
        margin-bottom: 2rem;
    }
    .mab-xl-2{
        margin-bottom: 4rem;
    }
    .mab-xl-3{
        margin-bottom: 6rem;
    }
    .mab-xl-4{
        margin-bottom: 8rem;
    }
    .mab-xl-5{
        margin-bottom: 10rem;
    }
    .mab-xl-6{
        margin-bottom: 12rem;
    }
    .mab-xl-7{
        margin-bottom: 14rem;
    }
    .mab-xl-8{
        margin-bottom: 16rem;
    }
    .mab-xl-9{
        margin-bottom: 18rem;
    }
    .mab-xl-10{
        margin-bottom: 20rem;
    }
}

/* Margin xxl */
@media (min-width: 1440px){
    .mab-xxl-1{
        margin-bottom: 2rem;
    }
    .mab-xxl-2{
        margin-bottom: 4rem;
    }
    .mab-xxl-3{
        margin-bottom: 6rem;
    }
    .mab-xxl-4{
        margin-bottom: 8rem;
    }
    .mab-xxl-5{
        margin-bottom: 10rem;
    }
    .mab-xxl-6{
        margin-bottom: 12rem;
    }
    .mab-xxl-7{
        margin-bottom: 14rem;
    }
    .mab-xxl-8{
        margin-bottom: 16rem;
    }
    .mab-xxl-9{
        margin-bottom: 18rem;
    }
    .mab-xxl-10{
        margin-bottom: 20rem;
    }
}
