

/* Margin top md */
@media (min-width: 300px){
    /* Margen Top */
    .mt-0{
        margin-top: 0 im !important;
    }
    .mt-1{
        margin-top: 2rem !important;
    }
    .mt-2{
        margin-top: 4rem !important;
    }
    .mt-3{
        margin-top: 6rem !important;
    }
    .mt-4{
        margin-top: 8rem !important;
    }
    .mt-5{
        margin-top: 10rem !important;
    }
    .mt-6{
        margin-top: 12rem !important;
    }
    .mt-7{
        margin-top: 14rem !important;
    }
    .mt-8{
        margin-top: 16rem !important;
    }
    .mt-9{
        margin-top: 18rem !important;
    }
    .mt-10{
        margin-top: 20rem !important;
    } 
}

/* Margin top md */
@media (min-width: 400px){
    /* Margen Top */
    .mt-sm-0{
        margin-top: 0;
    }
    .mt-sm-1{
        margin-top: 2rem;
    }
    .mt-sm-2{
        margin-top: 4rem;
    }
    .mt-sm-3{
        margin-top: 6rem;
    }
    .mt-sm-4{
        margin-top: 8rem;
    }
    .mt-sm-5{
        margin-top: 10rem;
    }
    .mt-sm-6{
        margin-top: 12rem;
    }
    .mt-sm-7{
        margin-top: 14rem;
    }
    .mt-sm-8{
        margin-top: 16rem;
    }
    .mt-sm-9{
        margin-top: 18rem;
    }
    .mt-sm-10{
        margin-top: 20rem;
    } 
}

/* Margin top md */
@media (min-width: 768px) and (max-width: 1024px) {
    /* Margen Top */
    .mt-md-0{
        margin-top: 0 !important;
    }
    .mt-md-1{
        margin-top: 2rem !important;
    }
    .mt-md-2{
        margin-top: 4rem !important;
    }
    .mt-md-3{
        margin-top: 6rem !important;
    }
    .mt-md-4{
        margin-top: 8rem !important;
    }
    .mt-md-5{
        margin-top: 10rem !important;
    }
    .mt-md-6{
        margin-top: 12rem !important;
    }
    .mt-md-7{
        margin-top: 14rem !important;
    }
    .mt-md-8{
        margin-top: 16rem !important;
    }
    .mt-md-9{
        margin-top: 18rem !important;
    }
    .mt-md-10{
        margin-top: 20rem !important;
    } 
}

/* Margin top lg */
@media (min-width: 1024px) and (max-width: 1200px) {
    /* Margen Top */
    .mt-lg-0{
        margin-top: 0 !important;
    }
    .mt-lg-1{
        margin-top: 2rem !important;
    }
    .mt-lg-2{
        margin-top: 4rem !important;
    }
    .ma-t-lg-3{
        margin-top: 6rem !important;
    }
    .mt-lg-4{
        margin-top: 8rem !important;
    }
    .mt-lg-5{
        margin-top: 10rem !important;
    }
    .mt-lg-6{
        margin-top: 12rem !important;
    }
    .mt-lg-7{
        margin-top: 14rem !important;
    }
    .mt-lg-8{
        margin-top: 16rem !important;
    }
    .mt-lg-9{
        margin-top: 18rem !important;
    }
    .mt-lg-10{
        margin-top: 20rem !important;
    } 
}


/* Margin top xl */
@media (min-width: 1200px) {
    .mt-xl-0{
        margin-top: 0;
    }
    .mt-xl-1{
        margin-top: 2rem;
    }
    .mt-xl-2{
        margin-top: 4rem;
    }
    .mt-xl-3{
        margin-top: 6rem;
    }
    .mt-xl-4{
        margin-top: 8rem;
    }
    .mt-xl-5{
        margin-top: 10rem;
    }
    .mt-xl-6{
        margin-top: 12rem;
    }
    .mt-xl-7{
        margin-top: 14rem;
    }
    .mt-xl-8{
        margin-top: 16rem;
    }
    .mt-xl-9{
        margin-top: 18rem;
    }
    .mt-xl-10{
        margin-top: 20rem;
    } 
}

/* Margin top xxl */
@media (min-width: 1440px) {
    .mt-xxl-0 {
        margin-top: 0 !important;
    }
    .mt-xxl-1{
        margin-top: 2rem !important;
    }
    .mt-xxl-2{
        margin-top: 4rem !important;
    }
    .mt-xxl-3{
        margin-top: 6rem !important;
    }
    .mt-xxl-4{
        margin-top: 8rem !important;
    }
    .mt-xxl-5{
        margin-top: 10rem !important;
    }
    .mt-xxl-6{
        margin-top: 12rem !important;
    }
    .mt-xxl-7{
        margin-top: 14rem !important;
    }
    .mt-xxl-8{
        margin-top: 16rem !important;
    }
    .mt-xxl-9{
        margin-top: 18rem !important;
    }
    .mt-xxl-10{
        margin-top: 20rem !important;
    } 
}

/* De 1024 a 1440*/
@media (min-width: 1024px) and (max-width: 1440px) {
    .ma-t-lgx-1{
        margin-top: 2rem !important;
    }
    .ma-t-lgx-2{
        margin-top: 4rem;
    }
    .ma-t-lgx-3{
        margin-top: 6rem;
    }
    .ma-t-lgx-4{
        margin-top: 8rem;
    }
    .ma-t-lgx-5{
        margin-top: 10rem;
    }
    .ma-t-lgx-6{
        margin-top: 12rem;
    }
    .ma-t-lgx-7{
        margin-top: 14rem;
    }
    .ma-t-lgx-8{
        margin-top: 16rem;
    }
    .ma-t-lgx-9{
        margin-top: 18rem;
    }
    .ma-t-lgx-10{
        margin-top: 20rem;
    } 
}