/* Margin sm */
@media (min-width: 300px) {
    .ma-b-sm-1{
        margin-bottom: 2rem;
    }
    .ma-b-sm-2{
        margin-bottom: 4rem;
    }
    .ma-b-sm-3{
        margin-bottom: 6rem;
    }
    .ma-b-sm-4{
        margin-bottom: 8rem;
    }
    .ma-b-sm-5{
        margin-bottom: 10rem;
    }
    .ma-b-sm-6{
        margin-bottom: 12rem;
    }
    .ma-b-sm-7{
        margin-bottom: 14rem;
    }
    .ma-b-sm-8{
        margin-bottom: 16rem;
    }
    .ma-b-sm-9{
        margin-bottom: 18rem;
    }
    .ma-b-sm-10{
        margin-bottom: 20rem;
    }
}

/* Margin md */
@media (min-width: 768px) {
    .ma-b-md-0{
        margin-bottom: 0rem;
    }
    .ma-b-md-1{
        margin-bottom: 2rem;
    }
    .ma-b-md-2{
        margin-bottom: 4rem;
    }
    .ma-b-md-3{
        margin-bottom: 6rem;
    }
    .ma-b-md-4{
        margin-bottom: 8rem;
    }
    .ma-b-md-5{
        margin-bottom: 10rem;
    }
    .ma-b-md-6{
        margin-bottom: 12rem;
    }
    .ma-b-md-7{
        margin-bottom: 14rem;
    }
    .ma-b-md-8{
        margin-bottom: 16rem;
    }
    .ma-b-md-9{
        margin-bottom: 18rem;
    }
    .ma-b-md-10{
        margin-bottom: 20rem;
    }
}

/* Margin lg */
@media (min-width: 1024px) {
    .ma-b-lg-0{
        margin-bottom: 0;
    }
    .ma-b-lg-1{
        margin-bottom: 2rem;
    }
    .ma-b-lg-2{
        margin-bottom: 4rem;
    }
    .ma-b-lg-3{
        margin-bottom: 6rem;
    }
    .ma-b-lg-4{
        margin-bottom: 8rem;
    }
    .ma-b-lg-5{
        margin-bottom: 10rem;
    }
    .ma-b-lg-6{
        margin-bottom: 12rem;
    }
    .ma-b-lg-7{
        margin-bottom: 14rem;
    }
    .ma-b-lg-8{
        margin-bottom: 16rem;
    }
    .ma-b-lg-9{
        margin-bottom: 18rem;
    }
    .ma-b-lg-10{
        margin-bottom: 20rem;
    }
}

/* Margin xl */
@media (min-width: 1200px) {
    .ma-b-xl-0{
        margin-bottom: 0;
    }
    .ma-b-xl-1{
        margin-bottom: 2rem;
    }
    .ma-b-xl-2{
        margin-bottom: 4rem;
    }
    .ma-b-xl-3{
        margin-bottom: 6rem;
    }
    .ma-b-xl-4{
        margin-bottom: 8rem;
    }
    .ma-b-xl-5{
        margin-bottom: 10rem;
    }
    .ma-b-xl-6{
        margin-bottom: 12rem;
    }
    .ma-b-xl-7{
        margin-bottom: 14rem;
    }
    .ma-b-xl-8{
        margin-bottom: 16rem;
    }
    .ma-b-xl-9{
        margin-bottom: 18rem;
    }
    .ma-b-xl-10{
        margin-bottom: 20rem;
    }
}

/* Margin xxl */
@media (min-width: 1440px){
    .ma-b-xxl-1{
        margin-bottom: 2rem;
    }
    .ma-b-xxl-2{
        margin-bottom: 4rem;
    }
    .ma-b-xxl-3{
        margin-bottom: 6rem;
    }
    .ma-b-xxl-4{
        margin-bottom: 8rem;
    }
    .ma-b-xxl-5{
        margin-bottom: 10rem;
    }
    .ma-b-xxl-6{
        margin-bottom: 12rem;
    }
    .ma-b-xxl-7{
        margin-bottom: 14rem;
    }
    .ma-b-xxl-8{
        margin-bottom: 16rem;
    }
    .ma-b-xxl-9{
        margin-bottom: 18rem;
    }
    .ma-b-xxl-10{
        margin-bottom: 20rem;
    }
}

/* Margin bottom of 1024 to 1440 */
@media (min-width: 1024px) and (max-width: 1440px) {
    .ma-b-lgx-1{
        margin-bottom: 2rem;
    }
    .ma-b-lgx-2{
        margin-bottom: 4rem;
    }
    .ma-b-lgx-3{
        margin-bottom: 6rem;
    }
    .ma-b-lgx-4{
        margin-bottom: 8rem;
    }
    .ma-b-lgx-5{
        margin-bottom: 10rem;
    }
    .ma-b-lgx-6{
        margin-bottom: 12rem;
    }
    .ma-b-lgx-7{
        margin-bottom: 14rem;
    }
    .ma-b-lgx-8{
        margin-bottom: 16rem;
    }
    .ma-b-lgx-9{
        margin-bottom: 18rem;
    }
    .ma-b-lgx-10{
        margin-bottom: 20rem;
    }
}
