/* Margin top md */
@media (min-width: 300px){
    /* Margen Top */
    .mat-sm-1{
        margin-top: 2rem;
    }
    .mat-sm-2{
        margin-top: 4rem;
    }
    .mat-sm-3{
        margin-top: 6rem;
    }
    .mat-sm-4{
        margin-top: 8rem;
    }
    .mat-sm-5{
        margin-top: 10rem;
    }
    .mat-sm-6{
        margin-top: 12rem;
    }
    .mat-sm-7{
        margin-top: 14rem;
    }
    .mat-sm-8{
        margin-top: 16rem;
    }
    .mat-sm-9{
        margin-top: 18rem;
    }
    .mat-sm-10{
        margin-top: 20rem;
    } 
}

/* Margin top md */
@media (min-width: 768px) {
    /* Margen Top */
    .mat-md-1{
        margin-top: 2rem;
    }
    .mat-md-2{
        margin-top: 4rem;
    }
    .mat-md-3{
        margin-top: 6rem;
    }
    .mat-md-4{
        margin-top: 8rem;
    }
    .mat-md-5{
        margin-top: 10rem;
    }
    .mat-md-6{
        margin-top: 12rem;
    }
    .mat-md-7{
        margin-top: 14rem;
    }
    .mat-md-8{
        margin-top: 16rem;
    }
    .mat-md-9{
        margin-top: 18rem;
    }
    .mat-md-10{
        margin-top: 20rem;
    } 
}

/* Margin top lg */
@media (min-width: 900px) {
    /* Margen Top */
    .mat-lg-1{
        margin-top: 2rem;
    }
    .mat-lg-2{
        margin-top: 4rem;
    }
    .mat-lg-3{
        margin-top: 6rem;
    }
    .mat-lg-4{
        margin-top: 8rem;
    }
    .mat-lg-5{
        margin-top: 10rem;
    }
    .mat-lg-6{
        margin-top: 12rem;
    }
    .mat-lg-7{
        margin-top: 14rem;
    }
    .mat-lg-8{
        margin-top: 16rem;
    }
    .mat-lg-9{
        margin-top: 18rem;
    }
    .mat-lg-10{
        margin-top: 20rem;
    } 
}

/* Margin top xl */
@media (min-width: 1200px) {
    .mat-xl-1{
        margin-top: 2rem;
    }
    .mat-xl-2{
        margin-top: 4rem;
    }
    .mat-xl-3{
        margin-top: 6rem;
    }
    .mat-xl-4{
        margin-top: 8rem;
    }
    .mat-xl-5{
        margin-top: 10rem;
    }
    .mat-xl-6{
        margin-top: 12rem;
    }
    .mat-xl-7{
        margin-top: 14rem;
    }
    .mat-xl-8{
        margin-top: 16rem;
    }
    .mat-xl-9{
        margin-top: 18rem;
    }
    .mat-xl-10{
        margin-top: 20rem;
    } 
}
