.newsletter{
    width: 100%;
    height: 400px;
    position: relative;

    @media (min-width: 300px) and (max-width: 768px) {
        width: 100%;
        height: 300px;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        width: 100%;
        height: 300px;
    }
}
.newsletter__background {
    width: 100%;
    height: 271px;
    position: absolute;
    background: rgba(98,97,154,1);
    background: -moz-linear-gradient(top, rgba(98,97,154,1) 0%, rgba(67,66,107,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(98,97,154,1)), color-stop(100%, rgba(67,66,107,1)));
    background: -webkit-linear-gradient(top, rgba(98,97,154,1) 0%, rgba(67,66,107,1) 100%);
    background: -o-linear-gradient(top, rgba(98,97,154,1) 0%, rgba(67,66,107,1) 100%);
    background: -ms-linear-gradient(top, rgba(98,97,154,1) 0%, rgba(67,66,107,1) 100%);
    background: linear-gradient(to bottom, rgba(98,97,154,1) 0%, rgba(67,66,107,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62619a', endColorstr='#43426b', GradientType=0 );

    @media (min-width: 300px) and (max-width: 768px) {
        width: 100%;
        height: 300px;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        width: 100%;
        height: 300px;
    }
}
.newsletter__container {
    width: 100%;
    height: 400px;
    position: absolute;


    @media (min-width: 300px) and (max-width: 768px) {
        width: 100%;
        height: 300px;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        width: 100%;
        height: 300px;
    }
}
.newsletter__left {
    width: 100%;
    height: 400px;
    position: relative;

    @media (min-width: 300px) and (max-width: 768px) {
        width: 100%;
        height: 300px;
    }
}
.newsletter__rigth {
    width: 100%;
    height: 400px;
    position: relative;


    @media (min-width: 300px) and (max-width: 768px) {
        width: 100%;
        height: 300px;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.newsletter__arrows {
    width: 100%;
    height: 271px;
    position: absolute;

    @media (min-width: 300px) and (max-width: 768px) {
        width: 100%;
        height: auto;
    }
}
.newsletter__auto {
    width: 650px;
    height: auto;
    position: absolute;
    top: 25%;

    @media (min-width: 300px) and (max-width: 768px) {
        width: 100%;
        height: auto;
    }
}

.newsletter__img {
    width: 750px;
    height: auto;
    position: absolute;
    top: 30%;

    @media (min-width: 300px) and (max-width: 768px) {
        width: 100%;
        height: auto;
        top: 10%;
    }
   
    @media (min-width: 768px) {
        width: 600px;
        height: auto;
        top: 10%;
        left: 5%;
    }
    @media (min-width: 1024px) {
        width: 400px;
        height: auto;
    }

    @media (min-width: 1900px) {
        width: 1100px;
        height: auto;
        top: 30%;
    }
}

.newsletter__form {
    width: 100%;
    height: 271px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 300px) and (max-width: 768px) {
        width: 100%;
        height: 300px;

     }
     @media (min-width: 768px) and (max-width: 1024px) {
        width: 100%;
        height: 200px;

     }
}
.newsletter__title {
    font-family: $archivo;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #ffff;

    @media (min-width: 300px) and (max-width: 768px) {
       font-size: 20px;
       text-align: center;;
    }
}
.newsletter__text {
    font-family: $openSans;
    font-weight: 400;
    font-size: 16px;
    color: #ffff;

    @media (min-width: 300px) and (max-width: 768px) {
        font-size: 20px;
        text-align: center;
    }
}
.newsletter__group {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.newsletter__input {
    width:  300px;
    height: 48px;
    border: none;
    margin: 0;
    font-family: $openSans;
    font-weight: 400;
    padding: 0 0 0 30px;

    @media (min-width: 300px) and (max-width: 768px) {
        width: 260px;
        height: 48px;
        padding: 0 0 0 20px;
    }
    
}
.newsletter__button {
    width:  70px;
    height: 48px;
    margin: 0;
    border: none;
    border: 0;
    background-color: $color-green-01;
}
.footer-container {
    width: 100%;
    height: 270px;
    position: relative;
    overflow: hidden;

    @media (min-width: 300px) and (max-width: 768px) {
        width: 100%;
        height: 600px;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        width: 100%;
        height: 340px;
    }
}
.nav-footer {
    width: 100%;
    height: 100px;
    background-color: #ffff;
    border: solid;
    border-width: 1px 0 1px 0;
    border-color: $color-gray-04;

    @media (min-width: 300px) and (max-width: 768px) {
        width: 100%;
        height: 300px;
        background-color: transparent;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        width: 100%;
        height: auto;
        background-color: transparent;
    }
}
.nav-footer__list {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    @media (min-width: 300px) and (max-width: 768px) {
        width: 100%;
        height: 300px;
        padding: 0 0 0 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        width: 100%;
        height: 400px;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        width: 100%;
        height: 200px;
        padding: 20px 0 0 30px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }
}
.nav-footer__item {
   list-style: none;
   padding: 0;
   text-decoration: none;
}
.nav-footer__link {
    color: $color-gray-03;
    text-decoration: none;
}
.nav-footer__link:hover {
    color: $color-purple-01;
}
.footer-info {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;

    @media (min-width: 300px) and (max-width: 768px) {
        width: 100%;
        height: 400px;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        width: 100%;
        height: 200px;
    }
}
.footer-info__container {
    width: 100%;
    height: 100px;
    padding: 0 15% 0 15%;
    border-bottom: solid 1px;
    border-color: $color-gray-01;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 300px) and (max-width: 768px) {
        width: 100%;
        height: 100px;
        padding: 10px 0 10px 30px;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }
}
.footer-info__logo {
    width: 220px;
    height: auto;
    position: absolute;
    top: 35%;
    z-index: -1;

    

    @media (min-width: 1900px) {
        width: 450px;
        height: auto;
    }
}
.contact { 
    width: 90%;
    height: 100px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 300px) and (max-width: 768px) {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        width: 100%;
        height: 200px;
        padding: 10px 0 0 0;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }

   

    @media (min-width: 1900px) {
        width: 70%;
        height: 100px;
    }
}
.contact__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.contact__item--social {
    width: 100px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 768px) and (max-width: 1024px) {
        width: 100px;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}
.contact__icon {
    @media (min-width: 768px) and (max-width: 1024px) {
        margin: 0 8px 0 8px;
    }
}
.contact__text {
    font-family: $openSans;
    font-weight: 400;
    font-size: 16px;
    color: $color-purple-01;

    @media (min-width: 768px) and (max-width: 1024px) {
        font-size: 10px;
    }
}
.terms {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 300px) and (max-width: 768px) {
       width: 100%;
       height: 100px;
    }
}
.terms__container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 300px) and (max-width: 768px) {
       width: 100%;
       height: 100px;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
}
.terms__rigths {
    margin: 0;
    font-family: $openSans;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: $color-gray-03;
}
.terms__privacy {
    font-family: $openSans;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: $color-gray-03;
    
    @media (min-width: 300px) and (max-width: 768px) {
        margin-top: 10px;
    }
}
.terms__privacy:hover {
    color: $color-purple-01;
}

