.image-box {
    width: 100%;
    height: 420px;
    position: relative; 
    
    @media (min-width: 1900px) {
        width: 100%;
        height: 670px;
    }
}
.image-box__background {
    width: 100%;
    height: auto;
    position: absolute;
}
.image-box__decorator {
    position: absolute;
}
.image-box__container {
    width: 90%;
    height: 450px;
    margin: 0 5% 0 5%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @media (min-width: 1900px) {
        width: 90%;
        height: 670px;
    }
}
.image-box__title {
    text-transform: uppercase;
    font-family: $archivo;
    font-size: 30px;
    font-weight: 400;
    color: #ffff;

    @media (min-width: 1900px) {
        font-size: 40px;
    }
}
.image-box__text {
    font-family: $openSans;
    font-size: 16px;
    font-weight: 400;
    color: #ffff;


    @media (min-width: 1900px) {
        font-size: 20px;
    }
}
.image-box__decorator--seminuevos {
    width: 500px;
    height: auto;
    right: 20%;
    bottom: 5%;


    @media (min-width: 1900px) {
        right: 27%;
        bottom: 25%;
    }
}