.slickBox-green {
    width: 100%;
    height: 176px;
    margin-top: 150px;
    background-color: $color-green-01;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slick__icon {
    width: 70px;
    height: auto;
    margin: 0 20px 0 20px;
}
.slickCarousel { 
    width: 100%;
    height: auto;
}
.slick__center {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.slickCarousel--green {
    background-color: $color-green-default;
}
.slickCartousel__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.slickCarousel__container--szLarge {
    height: 200px;
}
.slick__img {
    width: 300px;
    height: auto;   
}
.slick-next{
    border: none;
    background-color: transparent;
}
.arrow-next{
    width: 70px;
    height: 50px;
}
.arrow-prev{
    width: 70px;
    height: 50px;
    transform: rotate(180deg);
}
.slick__container {
   width: 100%;
   height: 400px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.slick-solar {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.slick-solar__img {
    width: 200px !important;
    height: auto;
}
