.section-admin-02 {
    margin-top: 100px;
    margin-bottom: 50px;
}
.section-admin-parrafo-02 {
    margin-top: 150px;
    margin-bottom: 50px;
}
.section-admin-parrafo-01 {
    margin-top: 50px;
}
.polygon {
    width: 100%;
    height: 800px;
    margin-bottom: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 300px) and (max-width: 768px) {
        width: 100%;
        height: auto;
        position: initial;
    }

    @media (min-width: 1024px) and (max-width: 1200px) {
        width: 100%;
        height: 600px;
    }
}
.polygon__container {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    @media (min-width: 300px) and (max-width: 768px) {
        position: inherit;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}
.polygon__item {
    width: 270px;
    height: 270px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 300px) and (max-width: 768px) {
        width: 270px;
        height: 270px;
        margin-top: 20px;
        position: initial;
    }

    @media (min-width: 1024px) and (max-width: 1200px) {
        width: 200px;
        height: 200px;
    }
}
.polygon__comp-a {
    width: 170px;
    height: 170px;
    
    @media (min-width: 1024px) and (max-width: 1200px) {
        width: 100px;
        height: 100px;
    }
}   
.polygon__comp-b {
    width: 50px;
    height: 50px;

    @media (min-width: 300px) and (max-width: 768px) {
       display: none;
    }

    @media (min-width: 1024px) and (max-width: 1200px) {
        width: 20px;
        height: 20px;
    }
}
.polygon__comp-c {
    width: 170px;
    height: 200px;

    @media (min-width: 1024px) and (max-width: 1200px) {
        width: 100px;
        height: 150px;
    }
}
.polygon__bg {
    width: 270px;
    height: 270px;
    position: absolute;

    

    @media (min-width: 1024px) and (max-width: 1200px) {
        width: 200px;
        height: 200px;
    }
}
.polygon__text {
    font-family: $openSans;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #ffff;
    position: absolute;

    @media (min-width: 1024px) and (max-width: 1200px) {
        font-size: 16px;
    }
}
.polygon__container--top {
    margin-bottom: 460px;

    @media (min-width: 300px) and (max-width: 768px) {
        margin-bottom: 0;
    }

    @media (min-width: 1024px) and (max-width: 1200px) {
        margin-bottom: 350px;
    }

}
.polygon__container--bottom {
    margin-top: 460px;

    @media (min-width: 300px) and (max-width: 768px) {
        margin-top: 0;
    }

    @media (min-width: 1024px) and (max-width: 1200px) {
        margin-top: 350px;
    }
}
.collageFlotilla {
    width: 100%;
    height: 450px;
    position: relative;

    @media (min-width: 1900px) {
        width: 100%;
        height: 600px;
    }
}
.section-beneficios-admin {
    width: 100%;
    height: auto;
    padding: 0;
    margin-top: 150px;
    margin-bottom: 100px;
}
.collageFlotilla__imgBg {
    width: 360px;
    height: auto;
    position: absolute;
    right: 0;
    top: 4%;
 

    @media (min-width: 300px) and (max-width: 768px) {
        width: auto;
        height: 400px;
    }

    @media (min-width: 1900px) {
        width: auto;
        height: 700px;
        top: 0;
    }
}
.collageFlotilla__imgArrows {
    width:auto;
    height: 210px;
    position: absolute;
    top: 10%;
    right: 0;

    @media (min-width: 300px) and (max-width: 768px) {
        width: 100%;
        height: auto;

    }

    @media (min-width: 1900px) {
        width: auto;
        height: 300px;
        top: 5%;
        right: 0;
    }
}
.collageFlotilla__imgAuto {
    width: auto;
    height: 300px;
    position: absolute;
    right: 0;
    bottom: 0;

    @media (min-width: 300px) and (max-width: 768px) {
        width: 100%;
        height: auto;
        right: 0;
        bottom: 20%;
    }

    @media (min-width: 1900px) {
        width: auto;
        height: 450px;
    }
}
.collageFlotilla__imgMapa {
    width: 50px;
    height: auto;
    position: absolute;
    top: 10%;
    left: 60%;
    right: 40%;

    @media (min-width: 1900px) {
        width: 70px;
        height: auto;
        top: 2%;
    }
}