.slide-item {
    height: 612px;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-width: 300px) {
        height: 400px;
        text-align: center;
    }
    
    @media (min-width: 1200px) {
        height: 500px;
        text-align: left;
    }

    @media (min-width: 1440px) {
        height: 700px;
    }
}
.tab-controls{ 
    width: 100%;
    height: 40px;
    position: absolute;
    z-index: 1;
    bottom: 40px;

    @media (min-width: 300px) {
       & .nav-link{
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
       }
    }

    @media (min-width: 1200px) {
        & .nav-link{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            & div {
                margin-right: 20px;
            }
        }
    }
}
.tab__container {
   width: 100%;
   height: 350px;
   border: solid;
   border-width: 0 1px;
   border-color: $color-gray-01;
   background-color: #ffff;

   @media (min-width: 300px) and (max-width: 600px) {
        width: 100%;
        height: auto;
        padding: 0 0 30px 0;
    }
}
.tab__label {
    font-family: $openSans;
    font-weight: 400;
    margin: 10px 0 10px 0;
}
.tab__group {
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;

    & .form-check {
        margin: 0 0 0 10px;
    }
}
.tab__group--start {
    justify-content: flex-start;
}
.tab__group--around {
    justify-content: space-around;
}
.tab__group--border {
    border: solid 1px;
    border-color: $color-gray-01;
}
.tab__input {
    border: none;
}
.tab__range {
    margin: 20px 0 0 10px;
}
.tab__select {
    width: 100%;
    height: 40px;
   
}
.tab__button {
    width: 100%;
    height: 40px;
    display: flex;
    padding: 0 10px 0 10px;
    color: $color-gray-03;
    border: solid 1px;
    border-color: $color-gray-01;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffff;
}
.carousel-indicators{
    @media (min-width: 300px) {
        margin-bottom: 100px;
    }
}
.checkbox--text-gray {
    color: $color-gray-03 !important;
}
.checkbox__radio {
    width: 0;
    height: 0;
    position: absolute;
}
.checkbox__radio:checked + .checkbox__buttons {
    & .radio-default {
        display: none;
    }
    & .radio-active {
        display: block;
    }
}
.checkbox__radio-circle {
    width: 15px;
    height: 15px;
    margin: 0 10px 0 0;
    border: solid 2px;
    border-radius: 100px;
    border-color: $color-purple-01;
}
.checkbox__radio-fill {
    width: 15px;
    height: 15px;
    margin: 0 10px 0 0;
    border: solid 2px;
    border-radius: 100px;
    background-color: $color-purple-01;
    border-color: $color-purple-01;
}
.radio-default {
    display: block;
}
.radio-active {
    display: none;
}
.checkbox__radio--tab {
    border: solid 1px;
    border-color: $color-purple-01;
}   
.tab-content{
    width: 100%;
    height:auto;
    background-color: #ffff;
    border: solid;
    border-width: 0 1px 1px 1px;
    border-color: #e1e1e1;
}
.nav-item{
    background-color: rgba($color: #62619a, $alpha: 0.5);

    & .nav-link__icon--default {
        display: block;
    }
    & .nav-link__icon--active {
        display: none;
    }
    
    & .active{
        background-color: white !important;
        border: 0;
        border-radius: 0;
        color: $color-gray-03 !important;

        & .nav-link__icon--default {
            display: none;
        }
        & .nav-link__icon--active {
            display: block;
        }
    }
}
.nav-link{
    height: 80px;
    border-radius: 0 !important;
}
.nav-link__icon {
    width: auto;
    height: 25px;
    margin-right: 15px;

    @media (min-width: 300px) and (max-width: 600px) {
        margin: 0;
    }
}
.secc-tabs{
    width: 100%;
    height: auto;
    background-image: url('../../../web/img/pag_at_tran/path_01.svg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
}
.path-bottom{
    width: 100%;
    height: auto;
    background-image: url('../../../web/img/pag_at_tran/path-6.svg');
    background-size: 20%;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.img-collage-01{
    width: 236px;
    height: auto;
    margin-left: 30px;

    @media (min-width: 300px) {
        width: 45%;
        margin-left: 10px;
    }
}
.secc-about{
    @media (min-width: 300px) {
        margin-top: 50px;
    }
}
.img-auto-top{
    width: 400px;
    height: auto;

    @media (min-width: 300px) and (max-whidth: 768px) {
        display: none;
    }
    @media (min-width: 768px) {
        width: 300px;
    }
    @media (min-width: 900px) {
        display: 300px;
    }
    @media (min-width: 1200px) {
        width: 350px;
    }
    @media (min-width: 1440px) {
        width: 350px;
        margin-bottom: 100px;
    }
}
.secc-auto{
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.layout-top{
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
}
.layout-down{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}
.img-collage-02{
    width: 268px;
    height: auto;

    @media (min-width: 300px) {
        width: 50%;
    }
}
.img-collage-03{
    width: 268px;
    height: auto;

    @media (min-width: 300px) {
        width: 50%;
    }
}
.img-collage-04{
    width: 236px;
    height: auto;

    @media (min-width: 300px) {
        width: 45%;
        margin-right: 10px;
    }
}
.secc-oferta{
    width: 100%;
    height: 1200px;
}

.point {
    width: 100%;
    height: auto;

    @media (min-width: 300px) and (max-width: 768px) {
        margin: 20px 0 0 0;
        display: flex;
        flex-direction: row;
        align-items: center !important;
        justify-content: flex-start;   
    }
}
.point--start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: 300px) and (max-width: 768px) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }

}
.point--end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (min-width: 300px) and (max-width: 768px) {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
.point__item {
    width: auto;
    height: 115px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;

    @media (min-width: 300px) and (max-width: 1024px) {
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;   
    }
    
}
.point__circle {
    width: 115px;
    height: 115px;
    border-radius: 100px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    background-color: #ffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @media (min-width: 300px) and (max-width: 1024px) {
        width: 50px;
        height: 50px;
        box-shadow: none;
    }
}
.point__item--rigth {
    flex-direction: row-reverse;
}
.point__arrow {
    width: 100px;
    height: auto;

    @media (min-width: 300px) and (max-width: 1024px) {
       display: none;
    }
}
.point__arrow--rigth {
    transform: rotate(180deg);
}
.point__icon {
    width: auto;
    height: 30px;
}
.desc {
    width: auto;
    height: auto;
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    @media (min-width: 300px) and (max-width: 768px) {
        margin: 0;
    }
}
.desc--left {
    margin-left: 20%;
    justify-content: flex-end;

    @media (min-width: 300px) and (max-width: 768px) {
        margin-left: 0;
    }

}
.desc--rigth {
    margin-right: 25%;
    justify-content: flex-end;
}
.desc--end {
    justify-content: flex-end;
}
.desc__number {
    font-family: $archivo;
    font-weight: 600;
    font-size: 40px;
    margin: 0;
    padding: 0;
    color: $color-gray-04;

    @media (min-width: 300px) and (max-width: 1024px) {
        display: none;
     }
}
.desc__text {
    font-family: $archivo;
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    margin: 0 0  0 10px;
    padding: 0;
    color: $color-gray-03;

    @media (min-width: 300px) and (max-width: 768px) {
        font-size: 17px;
        line-height: 25px;
        margin: 0;
    }
}
.box-point{
    height: auto;

    @media (min-width: 300px) and (max-width: 768px) {
       width: 100%;
       height: auto;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: flex-start;
     }
}
.cotizador__input--border {
    width: 100%;
    height: 50px;
    border: solid 1px;
    border-color: $color-gray-01;
    padding: 0 0 0 20px;
}
.select__maquinaria {
    width: 100%;
    height: 50px;
    margin: 10px 0 0 0;
    border:solid 1px;
    border-color: $color-gray-01;
    padding: 0 20px 0 20px;
}
/* Section auto */

.blk-auto {
    width: 100%;
    height: 800px;
    position: relative;

    @media (min-width: 300px) and (max-width: 768px) {
       width: 100%;
       height: auto;
       position: inherit;
    }
}
.blk-container {
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @media (min-width: 300px) and (max-width: 768px) {
        width: 100%;
        height: auto;
        position: inherit;
     }
}
.blk-auto__waves {
    position: absolute;
    z-index: -1;

    @media (min-width: 300px) and (max-width: 768px) {
        display: none;
    }
}
.blk-auto--center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.blk-auto__img {
    width: auto;
    height: 700px;
   
    @media (min-width: 300px) and (max-width: 768px) {
        display: none;
    }
}
.box-circle{    
    width: 115px;
    height: 115px;
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);

    @media (min-width: 300px) and (max-width: 768px) {
        box-shadow: none;
    }
}
.box-selector-left{
    width: 220px;
    height: 120px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    & .path{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}
.box-selector-rigth {
    width: 220px;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;


    @media (min-width: 300px) and (max-width: 768px) {
        width: 100%;
        height: auto;
        
    }
}
.path{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (min-width: 300px) and (max-width: 768px) {
        display: none;
    }
}
.line{
    width: 100%;
    height: 3px;
    background-color: $color-purple-01;

    @media (min-width: 300px) and (max-width: 768px) {
        display: none;
    }
}
.circle{
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background-color: white;
    border: solid 3px;
    border-color: $color-purple-01;

    @media (min-width: 300px) and (max-width: 768px) {
        display: none;
    }
}
.box-desc{
    display: flex;
    flex-direction: row;
    align-items: center;

    & h4 {
        font-size: 40px;
    }
    & p {
        line-height: 16px;
        margin: 0 0 0 10px;
    }

   
}
.column-list{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media (min-width: 300px) and (max-width: 768px) {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
}
.column-list--reverse {
    flex-direction: column-reverse;

    @media (min-width: 300px) and (max-width: 768px) {
        flex-direction: column;
    }
}
.green-box{
    width: 100%;
    height: 176px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* iconos */
.icon-board{
    width: 34px;
    height: auto;
}
.input-calculadora {
    width: 100%;
    height: 40px;
    border: solid 1px;
    border-color: $color-gray-01;
}
.tabla__group {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

