.section-servicios {
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 100px;

    @media (min-width: 1400px) {
        margin-bottom: 200px;
    }
}
.section-somos {
    width: 100%;
    height: auto;
    margin-bottom: 100px;

    @media (min-width: 1400px) {
        margin-bottom: 200px;
    }
}
.servicios__img {
    width: 100%;
    height: auto;
}
.servicios__decorator {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.serv-collage {
    width: 100%;
    height: 425px;
    position: relative;

    @media (min-width: 300px) and (max-width: 600px) {
        width: 100%;
        height: auto;
    }

    @media (min-width: 1400px) {
        width: 100%;
        height: 550px;
    }
}
.serv-collage__back {
    width: 100%;
    height: auto;
    position: absolute;

    @media (min-width: 1400px) {
        width: 100%;
        height: 550px;
    }
}
.serv-collage__front {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 1400px) {
        width: 100%;
        height: 550px;
    }
}
.serv-collage__espace {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @media (min-width: 1400px) {
        width: 100%;
        height: 550px;
    }
}
.serv-collage__espace-left {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    @media (min-width: 1400px) {
        width: 100%;
        height: 550px;
    }
}
.serv-collage__obj {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @media (min-width: 300px) and (max-width: 600px) {
        width: 100%;
        height: auto;
    }

    @media (min-width: 1400px) {
        width: 100%;
        height: 560px;
    }
}
.servicios__icon-box {
    width: auto;
    height: 50px;
    margin-top: 40px;

    @media (min-width: 1400px) {
        width: auto;
        height: 70px;
        margin-top: 30px;
    }
}
.servicios__box--purple {
    background-color: $color-purple-01;
}
.servicios__icon-arrows {
    width: auto;
    height: 70px;

    @media (min-width: 1400px) {
        width: auto;
        height: 100px;
    }
}
.servicios__main{
    width: 100%;
    height: 450px;
    position: relative;

    @media (min-width: 1400px) {
        width: 100%;
        height: 600px;
    }
}

.servicios__boxContainer {
    width: 100%;
    height: 500px;
    position: absolute;

    @media (min-width: 300px) and (max-width: 600px) {
        width: 100%;
        height: auto;
        padding: 10px 0 10px 0;
    }
}


.servicios__box {
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 300px) and (max-width: 600px) {
        width: 100%;
        height: auto;
        padding: 20px 0 20px 0;
        flex-direction: row;
    }

    @media (min-width: 1400px) {
        width: 300px;
        height: 300px;
    }
}
.servicios__box--01 {
    top: 0;
}
.servicios__box--green {
    background-color: $color-green-01;
}
.servicios__box--absolute {
    position: absolute;
}
.seccEmpresa {
    width: 100%;
    height: 500px;
    position: relative;

    @media (min-width: 300px) and (max-width: 600px) {
        width: 100%;
        height: auto;
    }

    @media (min-width: 1024px) {
        width: 100%;
        height: 400px;
    }

    @media (min-width: 1200px) {
        width: auto;
        height: 500px;
    }

    @media (min-width: 1900px) {
        height: 600px;
    }
}
.seccEmpresa__img {
    width: auto;
    height: 500px;
    position: absolute;

    @media (min-width: 300px) and (max-width: 900px) {
       display: none;
    }

    @media (min-width: 1024px) and (max-width: 1200px) {
        width: 400px;
        height: auto;
        top: 10%;
    }

    @media (min-width: 1280px) and (max-width: 1400px) {
        width: 530px;
        height: auto;
        top: 6%;
    }

    @media (min-width: 1440px) {
        width: 690px;
        height: auto;
    }
}
.seccEmpresa__img--left {
    left: 0;
}
.seccEmpresa__img--rigth {
    right: 0;

}
.seccEmpresa__elements {
    width: 100%;    
    height: 500px;
    position: absolute;


    @media (min-width: 300px) and (max-width: 600px) {
        width: 100%;    
        height: auto;
        position: initial;
    }
    @media (min-width: 1024px) {
        width: 100%;    
        height: auto;
    }
    
    @media (min-width: 1900px) {
        height: 600px;
    }

}
.seccEmpresa__elements--rigth {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}
.seccEmpresa__elements--left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.seccEmpresa__top--rigth {
    width: 164px;
    height: 135px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    @media (min-width: 300px) and (max-width: 600px) {
        display: none;
    }

    @media (min-width: 768px) and (max-width: 900px) {
        width: 100%;
        height: 150px;
    }
    
    @media (min-width: 1024px) {
        width: 111px;
        height: 135px;
    }


    @media (min-width: 1900px) {
        width: 265px;
        height: 135px;
    }
}
.seccEmpresa__bottom--rigth {
    width: 164px;
    height: 135px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    @media (min-width: 300px) and (max-width: 600px) {
        display: none;
    }

    @media (min-width: 768px) and (max-width: 900px) {
        width: 100%;
        height: 150px;
    }


    @media (min-width: 1024px) {
        width: 100px;
        height: 135px;
    }

    @media (min-width: 1900px) {
        width: 265px;
        height: 135px;
    }
}
.seccEmpresa__top--left {
    width: 164px;
    height: 135px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    @media (min-width: 300px) and (max-width: 600px) {
        display:  none;
    }

    @media (min-width: 768px) and (max-width: 900px) {
        width: 100%;
        height: 135px;
    }

    @media (min-width: 1024px) {
        width: 100px;
        height: 135px;
    }

    @media (min-width: 1900px) {
        width: 265px;
        height: 135px;
    }
}
.seccEmpresa__bottom--left {
    width: 164px;
    height: 135px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    
    @media (min-width: 300px) and (max-width: 600px) {
        display:  none;
    }

    @media (min-width: 768px) and (max-width: 900px) {
        width: 100%;
        height: 135px;
    }

    @media (min-width: 1900px) {
        width: 265px;
        height: 135px;
    }
}
.boxEmpresa {
    width: 270px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 300px) and (max-width: 600px) {
        width: 100%;
        height: auto;
        padding: 10px 0 10px 0;
        flex-direction: row;
        align-items: center;
        justify-content: center;   
    }

    @media (min-width: 768px) and (max-width: 900px) {
        width: 100%;
        height: 400px;   
    }

    @media (min-width: 1024px) {
        width: 170px;
        height: 170px;
    }

    @media (min-width: 1200px) {
        width: 230px;
        height: 230px;
    }

    @media (min-width: 1900px) {
        width: 350px;
        height: 350px;
    }
}
.boxEmpresa__text {
    margin-top: 20px;
    font-family: $openSans;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}
.boxEmpresa--green {
    background-color: $color-green-default;    
}
.boxEmpresa--purple {
    background-color: $color-purple-01;
}
.seccEmpresa__boxs {
    width: 84px;
    height: auto;

    @media (min-width: 300px) and (max-width: 600px) {
        display: none;
    }

    @media (min-width: 1200px) {
        width: 80px;
        height: auto;
    }

    @media (min-width: 1900px) {
        width: 100px;
        height: auto;
    }
}
.boxEmpresa__icon {

    @media (min-width: 300px) and (max-width: 600px) {
        margin: 0 20px 0 0;
    }

    @media (min-width: 1900px) {
       width: 70px;
       height: 70px;
    }
}
.seccEmpresa__arrows {
    width: 130px;
    height: auto;

    @media (min-width: 768px) and (max-width: 900px) {
       width: 150px;
       height: auto;
    }

    @media (max-width: 1024px) {
        width:  100px;
        height: auto;
    }

    @media (min-width: 1900px) {
        width: 200px;
        height: auto;
    }
}
.services {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.listServices {
    padding: 0 !important;
    margin: 0  !important;
}
.listSrvices__item {
    padding: 0;
    margin: 50px 0 0 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}
.listServices__icon {
    width: 25px;
    height: 25px;
}
.listServices__text {
    font-family: $openSans;
    font-weight: 400;
    padding: 0;
    margin: 0 0 0 20px;
}


