.collageSomos {
    width: 100%;
    height: 600px;
    position: relative;
}
.collageSomos__collage01 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
}
.collageSomos__img01{
    width: 570px;
    height: auto;
    position: absolute;
}
.collageSomos__path01 {
    width: auto;
    height: 600px;
    position: absolute;
}
.collageSomos__img--top {
    top: 0;
}
.collageSomos--start-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}