.img-arrows-02{
    width: auto;
    height: 300px;
    background-image: url('../../../web/img/pag_seminuevo/group-9-copy.svg');
    background-repeat: no-repeat;
    background-position:left;
    background-size: 95%;
}
.filters {
    width: 100%;
    height: auto;
    margin-top: 100px;
    padding: 60px;
    background-color: $color-gray-04;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.filters__container {
    width: 100%;
    height: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.filters__button {
    width: 200px;
    height: 130px;
    display: flex;
    background-color: transparent;
    border: solid 1px;
    border-color: transparent;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.filters__icon {
    width: 100px;
    height: auto;
}
.filters__icon--active {
    display: none;
}
.filters__icon--default {
    display: block;
}
.filters__radio {
    width: 0;
    height: 0;
    position: absolute;
}
.filters__text {
    padding: 0;
    margin: 5px 0 0 0;
}
.filters__radio:checked + .filters__button {
    background-color: #ffff;
    border: solid 1px;
    border-color:  $color-green-01;

    & .filters__icon--active {
        display: block;
    }   

    & .filters__icon--default {
        display: none;
    }
}
.block-controls{
    width: auto;
    height: 600px;
    padding: 20px;
    background-color: $color-gray-04;

    & h1 {
        font-size: medium;
        border-bottom: solid;
    }
}
.sep-line{
    width: 250px;
    height: 2px;
}
.btnSelect{
    width: 197px;
    height: 131px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    background-color: transparent;

    & p {
        margin: 0;
    }
}
.slct-active{
    background-color: white;
    border: solid 1px;
    border-color: #7eb441;
}
.list-featurs{
    width: 100%;
    height: 70px;
    list-style: none;
    padding: 0;
    margin: 0;

    & li {
        font-family: $openSans;
        font-weight: 400;
        color: $color-gray-02;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-right: 10px;
        padding-left: 10px;
    }
}
.pagination{
    & li {
        width: 30px;
        height: 30px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & a {
            padding: 5px, 5px;
            color: $color-gray-06;
            border-radius: 2px !important;
            border-color: $color-gray-06;
        }
    }
}
.list-contact{
    list-style: none;

    & p {
        font-family: $openSans;
        color: $color-purple-01;
    }
}
.vehicle {
    padding: 20px;
}
.slick-nav__thumbnail {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.features {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.features__item {
    width: 100%;
    height: 81px;
    border: solid 1px;
    border-color: $color-gray-03;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.feature__icon {
    width: 20px;
    height: auto;
}
.feature__text {
    margin: 0 0 0 20px;
    color: $color-gray-03;
}
.description__title {
    margin: 0 0 5px 0;
    font-family: $openSans;
    font-size: 12px;
    font-weight: 400;
    color: $color-gray-02;
}
.description__group {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.description__subtitle {
    font-family: $archivo;
    font-size: 25px;
    font-weight: 600;
    color: $color-gray-03;
}

.slide-nav {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    & .slick-slide {
        width: 100% !important;
    }
}
.slide-show {
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.lorem__img {
    width: 100%;
    height: 400px;
    background-color: $color-gray-03;
    color: #ffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.tab_range__title {
    margin-top: 50px;
}
.button--range {
    margin-top: 120px;
}
.modal__container {
    width: 100%;
    height: auto;
    padding: 20px;
}
.slide-seminuevos__show {
    width: 100%;
    height: auto;
}
.vehicle__details {
    margin-top: 50px;
}
.slide--item {
    width: 100% !important;
    height: 190px !important;
    margin: 0 0 25px 0;
    padding: 0;
    border: none;
    overflow: hidden;
}
.slide--show {
    width: 100% !important;
    height: 620px !important;
}
.slide--img-show {
    width: 100%;
    height: auto;
}
.slide--item__thumbnail {
    width: 100%;
    height: auto;
    transform: scale(1.5);
}
