.container-paths{
    width: 100%;
    height: 900px;

    @media (min-width: 1440px) {
        height: 1200px;
    }
}
.triangle_01{
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url('../../../web/img/pag_servicios/path_01.svg');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;

    @media (min-width: 1440px) {
        background-size: contain;
    }
}
.serv-arrows-left{
    width: 100%;
    height: 100%;
    background-image: url('../../../web/img/pag_servicios/arrows-left.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 15%;
}
.triangle-02{
    width: 100%;
    height: 100%;
    background-image: url('../../../web/img/pag_servicios/path_02.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 40%;

    @media (min-width: 1440px) {
        background-size: 36%;
    }
}
.box-services{
    width: 100%;
    background-color: $color-purple-01;
}

.img_opacity{
    opacity: 0.3;
}



