.headroom {
  transition: all 0.5s ease-in-out;
}

.headroom--pinned {
  margin-top: -100px;
}

@media (min-width: 300px) and (max-width: 900px) {
  .headroom--pinned {
    margin-top: 0;
  }
}

.headroom--unpinned {
  margin-top: -100px;
}

@media (min-width: 300px) and (max-width: 900px) {
  .headroom--unpinned {
    margin-top: 0;
  }
}

.headroom--top {
  margin-top: 0;
}

.nav {
  width: 100%;
  height: auto;
}

.nav--position {
  position: fixed;
  z-index: 900;
}

@media (min-width: 300px) and (max-width: 768px) {
  .nav--position {
    width: 100%;
    height: 70px;
    position: fixed;
  }
}

.nav__top {
  width: 100%;
  height: 100px;
  background-color: #ffff;
  border-bottom: solid 1px;
  border-color: #e1e1e1;
}

@media (min-width: 300px) and (max-width: 768px) {
  .nav__top {
    width: 100%;
    height: 70px;
    position: fixed;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .nav__top {
    width: 100%;
    height: 70px;
    position: fixed;
  }
}

.brand {
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media (min-width: 300px) and (max-width: 768px) {
  .brand {
    width: 100%;
    height: 70px;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .brand {
    width: 100%;
    height: 70px;
  }
}

.brand__logo {
  width: 200px;
  height: auto;
}

@media (min-width: 300px) and (max-width: 768px) {
  .brand__logo {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .brand__logo {
    width: 130px;
    height: auto;
  }
}

.nav-contact {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-contact__item {
  display: flex;
  flex-direction: row;
}

.nav-contact__text {
  margin: 0 0 0 15px;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #62619a;
}

.nav__bottom {
  width: 100%;
  height: 70px;
  background-color: #ffff;
  border-bottom: solid 1px #e1e1e1;
  transition: all 0.5s ease-in-out;
}

@media (min-width: 300px) and (max-width: 600px) {
  .nav__bottom {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .nav__bottom {
    width: 50%;
    height: 100vh;
    background-color: #ffff;
    position: fixed;
    top: 0;
    left: -70%;
    z-index: 1090;
    box-shadow: 4px 0px 18px 0px rgba(0, 0, 0, 0.45);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .nav__bottom--active {
    left: 0;
  }
}

.menu {
  width: 100%;
  height: 70px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 300px) and (max-width: 600px) {
  .menu {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.close {
  margin-left: -100%;
}

@media (min-width: 600px) {
  .close {
    margin: 0;
  }
}

.menu__item {
  width: auto;
  height: 70px;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #6d7278;
  border-bottom: solid 5px transparent;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 300px) and (max-width: 600px) {
  .menu__item {
    width: auto;
    height: auto;
    margin: 10px 0 10px 0;
    text-align: left;
    align-items: flex-start;
  }
}

.menu_item--dropdown {
  width: 160px;
  height: auto;
}

.menu__item--relative {
  position: relative;
}

@media (min-width: 300px) and (max-width: 600px) {
  .menu__close {
    width: 80%;
    height: 70px;
    margin: 30px 10% 0 10%;
    background-color: #7eb441;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .menu__close {
    display: none;
  }
}

.menu__arrow {
  width: 30px;
  height: auto;
  margin: 0 10px 0 0;
  transform: rotate(180deg);
}

.menu__item:hover {
  border-bottom: solid 5px #62619a;
}

.menu__item--active {
  border-bottom: solid 5px #62619a;
}

.menu__link {
  text-decoration: none;
  color: #6d7278;
}

.menu__link:hover {
  text-decoration: none;
  color: #62619a;
}

.menu__link--active {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #62619a;
}

.button-drawer {
  width: 100%;
  height: 70px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.button-drawer__line {
  width: 30px;
  height: 4px;
  margin: 2px 0 2px 0;
  list-style: none;
  background-color: #62619a;
}

.button-drawer__line--small {
  width: 20px;
  height: 4px;
}

/* Headrom */
.space-top {
  width: 100%;
  height: 185px;
}

@media (min-width: 300px) and (max-width: 1024px) {
  .space-top {
    height: 0px;
  }
}

.top-header {
  width: 100%;
  height: auto;
  border-bottom: solid 1px;
  border-color: #e1e1e1;
}

.top-header p {
  color: #62619a;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

@media (min-width: 300px) and (max-width: 768px) {
  .top-header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .top-header {
    width: 100%;
    height: 70px;
  }
}

.secc-brand {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media (min-width: 300px) and (max-width: 768px) {
  .secc-brand img {
    width: 100%;
  }
}

.header-contact {
  height: 120px;
}

.nav-header {
  width: 100%;
  height: auto;
  border-bottom: solid 1px #e1e1e1;
}

.secc-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.secc-nav a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #434343;
}

@media (min-width: 700px) and (max-width: 1024px) {
  .secc-nav a {
    font-size: 14px;
    text-align: center;
  }
}

.secc-nav li {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.secc-nav .active {
  border-bottom: solid 5px #62619a;
}

.secc-nav .active a {
  color: #62619a;
  font-weight: 600;
}

.btn-burger {
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-burger li {
  width: 25px;
  height: 2px;
  margin-bottom: 5px;
  background-color: #62619a;
}

.newsletter {
  width: 100%;
  height: 400px;
  position: relative;
}

@media (min-width: 300px) and (max-width: 768px) {
  .newsletter {
    width: 100%;
    height: 300px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .newsletter {
    width: 100%;
    height: 300px;
  }
}

.newsletter__background {
  width: 100%;
  height: 271px;
  position: absolute;
  background: #62619a;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #62619a), color-stop(100%, #43426b));
  background: linear-gradient(to bottom, #62619a 0%, #43426b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62619a', endColorstr='#43426b', GradientType=0 );
}

@media (min-width: 300px) and (max-width: 768px) {
  .newsletter__background {
    width: 100%;
    height: 300px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .newsletter__background {
    width: 100%;
    height: 300px;
  }
}

@media (min-width: 1400px) {
  .newsletter__background {
    width: 100%;
    height: 300px;
  }
}

.newsletter__container {
  width: 100%;
  height: 400px;
  position: absolute;
}

@media (min-width: 300px) and (max-width: 768px) {
  .newsletter__container {
    width: 100%;
    height: 300px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .newsletter__container {
    width: 100%;
    height: 300px;
  }
}

.newsletter__left {
  width: 100%;
  height: 400px;
  position: relative;
}

@media (min-width: 300px) and (max-width: 768px) {
  .newsletter__left {
    width: 100%;
    height: 300px;
  }
}

.newsletter__rigth {
  width: 100%;
  height: 400px;
  position: relative;
}

@media (min-width: 300px) and (max-width: 768px) {
  .newsletter__rigth {
    width: 100%;
    height: 300px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .newsletter__rigth {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.newsletter__arrows {
  width: 100%;
  height: 271px;
  position: absolute;
}

@media (min-width: 300px) and (max-width: 768px) {
  .newsletter__arrows {
    width: 100%;
    height: auto;
  }
}

.newsletter__auto {
  width: 650px;
  height: auto;
  position: absolute;
  top: 25%;
}

@media (min-width: 300px) and (max-width: 768px) {
  .newsletter__auto {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 1400px) {
  .newsletter__auto {
    width: 900px;
    height: auto;
  }
}

.newsletter__img {
  width: 750px;
  height: auto;
  position: absolute;
  top: 30%;
}

@media (min-width: 300px) and (max-width: 768px) {
  .newsletter__img {
    width: 100%;
    height: auto;
    top: 10%;
  }
}

@media (min-width: 768px) {
  .newsletter__img {
    width: 600px;
    height: auto;
    top: 10%;
    left: 5%;
  }
}

@media (min-width: 1024px) {
  .newsletter__img {
    width: 400px;
    height: auto;
  }
}

@media (min-width: 1900px) {
  .newsletter__img {
    width: 1100px;
    height: auto;
    top: 30%;
  }
}

.newsletter__form {
  width: 100%;
  height: 271px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 300px) and (max-width: 768px) {
  .newsletter__form {
    width: 100%;
    height: 300px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .newsletter__form {
    width: 100%;
    height: 200px;
  }
}

@media (min-width: 1400px) {
  .newsletter__form {
    width: 100%;
    height: 300px;
  }
}

.newsletter__title {
  font-family: "Archivo";
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffff;
}

@media (min-width: 300px) and (max-width: 768px) {
  .newsletter__title {
    font-size: 20px;
    text-align: center;
  }
}

.newsletter__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffff;
}

@media (min-width: 300px) and (max-width: 768px) {
  .newsletter__text {
    font-size: 20px;
    text-align: center;
  }
}

.newsletter__group {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.newsletter__input {
  width: 300px;
  height: 48px;
  border: none;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 0 0 0 30px;
}

@media (min-width: 300px) and (max-width: 768px) {
  .newsletter__input {
    width: 260px;
    height: 48px;
    padding: 0 0 0 20px;
  }
}

.newsletter__button {
  width: 70px;
  height: 48px;
  margin: 0;
  border: none;
  border: 0;
  background-color: #7eb441;
}

.footer-container {
  width: 100%;
  height: 270px;
  position: relative;
  overflow: hidden;
}

@media (min-width: 300px) and (max-width: 768px) {
  .footer-container {
    width: 100%;
    height: 600px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer-container {
    width: 100%;
    height: 340px;
  }
}

@media (min-width: 1400px) {
  .footer-container {
    margin-top: 100px;
  }
}

.nav-footer {
  width: 100%;
  height: 100px;
  background-color: #ffff;
  border: solid;
  border-width: 1px 0 1px 0;
  border-color: #EFEFF4;
}

@media (min-width: 300px) and (max-width: 768px) {
  .nav-footer {
    width: 100%;
    height: 300px;
    background-color: transparent;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .nav-footer {
    width: 100%;
    height: auto;
    background-color: transparent;
  }
}

.nav-footer__list {
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@media (min-width: 300px) and (max-width: 768px) {
  .nav-footer__list {
    width: 100%;
    height: 300px;
    padding: 0 0 0 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .nav-footer__list {
    width: 100%;
    height: 400px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .nav-footer__list {
    width: 100%;
    height: 200px;
    padding: 20px 0 0 30px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
}

.nav-footer__item {
  list-style: none;
  padding: 0;
  text-decoration: none;
}

.nav-footer__link {
  color: #6d7278;
  text-decoration: none;
}

.nav-footer__link:hover {
  color: #62619a;
}

.footer-info {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}

@media (min-width: 300px) and (max-width: 768px) {
  .footer-info {
    width: 100%;
    height: 400px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer-info {
    width: 100%;
    height: 200px;
  }
}

.footer-info__container {
  width: 100%;
  height: 100px;
  padding: 0 15% 0 15%;
  border-bottom: solid 1px;
  border-color: #e1e1e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 300px) and (max-width: 768px) {
  .footer-info__container {
    width: 100%;
    height: 100px;
    padding: 10px 0 10px 30px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer-info__container {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
}

.footer-info__logo {
  width: 220px;
  height: auto;
  position: absolute;
  top: 35%;
  z-index: -1;
}

@media (min-width: 1900px) {
  .footer-info__logo {
    width: 450px;
    height: auto;
  }
}

.contact {
  width: 90%;
  height: 100px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 300px) and (max-width: 768px) {
  .contact {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contact {
    width: 100%;
    height: 200px;
    padding: 10px 0 0 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
}

@media (min-width: 1900px) {
  .contact {
    width: 70%;
    height: 100px;
  }
}

.contact__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.contact__item--social {
  width: 100px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contact__item--social {
    width: 100px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contact__icon {
    margin: 0 8px 0 8px;
  }
}

.contact__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #62619a;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contact__text {
    font-size: 10px;
  }
}

.terms {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 300px) and (max-width: 768px) {
  .terms {
    width: 100%;
    height: 100px;
  }
}

.terms__container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 300px) and (max-width: 768px) {
  .terms__container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.terms__rigths {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #6d7278;
}

.terms__privacy {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #6d7278;
}

@media (min-width: 300px) and (max-width: 768px) {
  .terms__privacy {
    margin-top: 10px;
  }
}

.terms__privacy:hover {
  color: #62619a;
}

.nav-mobile {
  width: 80%;
  height: 100vh;
  margin-left: 0%;
  transition: all 0.6s ease-in-out;
  background-color: #ffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1800;
  box-shadow: 6px 0px 24px -1px rgba(0, 0, 0, 0.47);
}

.list-mobile {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.list-mobile__button--active {
  background-color: #62619a;
}

.list-mobile__button--active a {
  color: #ffff !important;
}

.list-mobile__button--active .fa-chevron-down {
  color: #ffff;
}

.list-mobile__item {
  width: 100%;
  height: auto;
  border: solid;
  border-width: 0 0 1px 0;
  border-color: #e1e1e1;
}

.list-mobile__button {
  width: 100%;
  height: auto;
  padding: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.list-mobile__button a {
  font-size: 13px;
  text-decoration: none;
  color: #6d7278;
}

.list-mobile__button a:hover {
  text-decoration: none;
}

.list-mobile__button--main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.list-mobile__button--sub {
  padding: 16px 0 16px 50px;
}

.close__submenu {
  display: none;
}

.list-mobile__button--closeBttn p {
  padding: 0;
  margin: 0;
}

.close-mobile {
  margin-left: -100%;
}

/* Imagenes superiores */
.header-page {
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 50px;
}

@media (min-width: 300px) and (max-width: 768px) {
  .header-page {
    height: 300px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header-page {
    height: 350px;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .header-page {
    height: 500px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .header-page {
    height: 450px;
  }
  .header-page .container {
    height: 450px;
  }
}

@media (min-width: 1440px) {
  .header-page {
    height: 600px;
  }
  .header-page .container {
    height: 600px;
  }
}

.text-header {
  font-family: "Archivo";
  font-weight: 400;
  font-size: 30px;
  margin: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .text-header {
    font-size: 24px;
  }
}

@media (min-width: 1440px) {
  .text-header {
    font-size: 40px;
  }
}

/* Seminuevos */
.header-seminuevos {
  background-image: url("../../../web/img/pag_seminuevo/rectangle.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 300px) {
  .header-seminuevos {
    background-image: url("../../../web/img/pag_seminuevo/rectangle@2x.jpg");
    background-position: right;
  }
}

@media (min-width: 768px) {
  .header-seminuevos {
    background-image: url("../../../web/img/pag_seminuevo/rectangle@3x.jpg");
    background-position: right;
  }
}

/* Nuestra empresa */
.header-about {
  background-image: url("../../../web/img/pag_about/rectangle.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 300px) {
  .header-about {
    background-image: url("../../../web/img/pag_about/rectangle@2x.jpg");
    background-position: right;
  }
}

@media (min-width: 768px) {
  .header-about {
    background-image: url("../../../web/img/pag_about/rectangle@2x.jpg");
    background-position: right;
  }
}

/* Aviso de privacidad */
.header-privacidad {
  background-image: url("../../../web/img/pag_privacidad/rectangle@3x.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 300px) {
  .header-privacidad {
    background-image: url("../../../web/img/pag_privacidad/rectangle.jpg");
    background-position: right;
  }
}

@media (min-width: 768px) {
  .header-privacidad {
    background-image: url("../../../web/img/pag_privacidad/rectangle@2x.jpg");
    background-position: right;
  }
}

.input-contact {
  width: 100%;
  height: auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  border: none;
  padding-bottom: 10px;
  margin-bottom: 25px;
  border-bottom: solid 1px #979797;
}

.form-contact {
  width: 100%;
  height: auto;
  padding: 60px;
  background-color: white;
  box-shadow: 0 0 4px 3px rgba(126, 180, 65, 0.2);
}

.secc-mapa {
  width: 100%;
  height: 400px;
  margin-top: -80px;
  background-color: #EFEFF4;
  z-index: -1;
}

.slickBox-green {
  width: 100%;
  height: 176px;
  margin-top: 150px;
  background-color: #7eb441;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slick__icon {
  width: 70px;
  height: auto;
  margin: 0 20px 0 20px;
}

.slickCarousel {
  width: 100%;
  height: auto;
}

.slick__center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slickCarousel--green {
  background-color: #7eb441;
}

.slickCartousel__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.slickCarousel__container--szLarge {
  height: 200px;
}

.slick__img {
  width: 300px;
  height: auto;
}

.slick-next {
  border: none;
  background-color: transparent;
}

.arrow-next {
  width: 70px;
  height: 50px;
}

.arrow-prev {
  width: 70px;
  height: 50px;
  transform: rotate(180deg);
}

.slick__container {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slick-solar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slick-solar__img {
  width: 200px !important;
  height: auto;
}

.formContainer {
  width: 100%;
  height: 750px;
}

@media (min-width: 300px) and (max-width: 768px) {
  .formContainer {
    width: 100%;
    height: auto;
  }
}

.bgForm {
  width: 100%;
  height: 750px;
  background-color: #62619a;
}

@media (min-width: 300px) and (max-width: 768px) {
  .bgForm {
    width: 100%;
    height: 700px;
  }
}

.imgCoverForm {
  width: 100%;
  height: auto;
}

.imgCoverForm img {
  width: 100%;
  height: 750px;
}

@media (min-width: 300px) and (max-width: 768px) {
  .imgCoverForm img {
    display: none;
  }
}

.arrowsOrnamentForm {
  width: auto;
  height: 240px;
  margin-right: 110px;
}

@media (min-width: 300px) and (max-width: 768px) {
  .arrowsOrnamentForm {
    display: none;
  }
}

.formContainer {
  width: 100%;
  height: 750px;
  padding: 0 40px 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 300px) and (max-width: 768px) {
  .formContainer {
    padding: 0 10px 0 10px;
  }
}

@media (min-width: 1440px) {
  .formContainer {
    padding: 0 60px 0 60px;
  }
}

.list {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

@media (min-width: 300px) and (max-width: 600px) {
  .list {
    margin: 100px 0 0 0;
    padding: 0 0 0 50px;
  }
}

.list__item {
  width: 100%;
  height: auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (min-width: 1900px) {
  .list__item {
    margin: 40px 0 0 0;
  }
}

.list__item--mt-normal {
  margin: 30px 0 30px 0;
}

.list__item--mt-doble {
  margin: 50px 0 50px 0;
}

.list__item--center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.list__item__container {
  width: 90%;
  height: auto;
}

.list__circle {
  width: 40px;
  height: 40px;
  margin: 0 20px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list__link {
  margin: 0 0 0 10px;
  text-decoration: none;
  color: #6d7278;
}

.list__link:hover {
  color: #70a039;
}

.list__circle--purple {
  background-color: #62619a;
}

.list__circle--green {
  background-color: #7eb441;
}

.list__circle--rounded {
  border-radius: 100px;
}

.list__icon {
  width: 20px;
  height: auto;
  margin: 0;
}

.list__icon--left {
  transform: rotate(180deg);
}

.list__icon--rigth {
  transform: rotate(360deg);
}

.list__icon--flat {
  margin-right: 10px;
}

.list__item__title {
  margin: 0 0 10px 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #434343;
}

.list__text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 0 0;
  color: #6d7278;
}

@media (min-width: 300px) and (max-width: 600px) {
  .list__text {
    width: 100%;
    height: auto;
    padding: 0 10px 0 10px;
  }
}

.list-title {
  margin: 0;
  font-family: "Archivo";
  font-weight: 600;
  font-size: 16px;
  color: #6d7278;
  text-transform: uppercase;
}

@media (min-width: 300px) and (max-width: 600px) {
  .list-title {
    margin-top: 50px;
    text-align: center;
  }
}

.list-title__title {
  margin: 0 0 5px 0;
}

.list-line {
  width: 100%;
  height: 1px;
}

.list-line--green {
  background-color: #7eb441;
}

.blockTitle {
  font-family: "Archivo";
  font-size: 16px;
  font-weight: 600;
  color: #6d7278;
  text-transform: uppercase;
}

.paragraph__line {
  width: 100%;
  height: 1px;
}

.paragraph__line--green {
  background-color: #7eb441;
}

.paragraph__line--withe {
  background-color: #ffff;
}

.Paragraph {
  width: 100%;
}

.paragraph__title {
  margin: 0 0 5px 0;
  font-family: "Archivo";
  font-weight: 600;
  text-transform: uppercase;
  color: #6d7278;
}

.paragraph--center {
  text-align: center;
}

.paragraph__text--center {
  text-align: center;
}

.paragraph__text--justify {
  text-align: justify;
}

.paragraph__text--bold {
  font-weight: 600;
}

.paragraph__text {
  margin: 20px 0 0 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #6d7278;
}

.paragraph__text--semibold {
  font-weight: 600;
}

.paragraph__title--border {
  border-bottom: solid 1px #7eb441;
}

.paragraph__title--withe {
  color: #ffff;
}

.paragraph__text--withe {
  color: #ffff !important;
}

.button {
  width: 100%;
  height: auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 0;
}

.button-main {
  width: 100%;
  height: auto;
  border: none;
  background-color: #ffff;
}

.button__main:hover {
  background-color: transparent;
}

.button--small {
  height: 40px;
}

.button--medium {
  height: 50px;
}

.button--center {
  margin: 0 50% 0 50%;
}

.button--start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.button--rounded {
  border-radius: 100px;
}

.button--border-0 {
  border: none;
}

.button--border-1 {
  border: solid 1px;
}

.button--border-2 {
  border: solid 2px;
}

.button--transparent {
  background-color: transparent;
}

.button--transparent:hover {
  background-color: #7eb441;
  border-color: #7eb441;
}

.button--transparent:hover .button__text {
  color: #ffff;
}

.button--transparent:hover .button__link {
  color: #ffff;
}

.button--border-green {
  border-color: #7eb441;
}

.button--avatar {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button__icon {
  width: 50px;
  height: 50px;
}

.button--bg-green {
  background-color: #7eb441;
  color: #ffff;
}

.button--hover-green:hover {
  background-color: #7eb441;
  color: #ffff;
}

.button--bg-green:hover {
  background-color: #7eb441;
}

.button__text {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #6d7278;
  margin: 0;
}

.button__text--left {
  text-align: left;
}

.button__text--center {
  padding: 0 17px 0 10px;
}

.button__avatar {
  width: 50px;
  height: 50px;
}

.button__link {
  color: #6d7278;
  text-decoration: none;
}

.btn-dropdown {
  width: 100%;
  height: 70px;
  border: none;
  background-color: transparent;
  color: #6d7278;
}

.button-main__options {
  border-radius: 0 !important;
  margin: 2px 0 0 !important;
  padding: 0 !important;
}

.button-main__options li:hover {
  background-color: #62619a !important;
}

.button-main__options li:hover a {
  color: #ffff;
  cursor: pointer;
}

.button-main__options a {
  text-decoration: none;
  color: #434343;
}

.button-main__active {
  background-color: #62619a !important;
  color: #ffff;
}

.button--padd-xl {
  padding: 0 30px 0 30px;
}

@media (min-width: 1400px) {
  .button--padd-xl {
    padding: 0 70px 0 70px;
  }
}

.img-lorem {
  width: 200px;
  height: 150px;
  background-color: #434343;
}

.blockquote {
  width: 100%;
  height: 550px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .blockquote {
    width: 100%;
    height: 500px;
  }
}

@media (min-width: 1900px) {
  .blockquote {
    height: 750px;
  }
}

.blockquote--green {
  background-color: #7eb441;
}

.blockquote--controls {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blockquote__text {
  margin: 10px 0 0 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  line-height: 25px;
}

@media (min-width: 1900px) {
  .blockquote__text {
    margin: 20px 0 0 0;
    font-size: 20px;
  }
}

.blockquote__controls {
  width: 55px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1900px) {
  .blockquote__controls {
    width: 70px;
  }
}

.blockquote__controls__prev {
  transform: rotate(180deg);
}

.blockquote__path {
  width: 85%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #7eb441;
  position: absolute;
}

.blockquote__img {
  width: 500px;
  height: auto;
  position: absolute;
  top: 11%;
  right: 0;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .blockquote__img {
    width: 400px;
    height: auto;
    top: 17%;
    right: 0;
  }
}

@media (min-width: 1900px) {
  .blockquote__img {
    width: 700px;
    height: auto;
    top: 12%;
    right: 0;
  }
}

.blockquote__quote {
  width: 100px;
  height: auto;
  margin-left: 25%;
}

@media (min-width: 1900px) {
  .blockquote__quote {
    width: 150px;
    height: auto;
    margin-left: 20%;
  }
}

.blockquote__slick {
  width: 100%;
  height: 550px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1024px) {
  .blockquote__slick {
    width: 100%;
    height: 500px;
  }
}

.blockquote__slick__item {
  width: 400px;
  height: 300px;
  padding: 0 40px 0 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #ffffff;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .blockquote__slick__item {
    width: 220px;
    height: auto;
    padding: 20px 20px 20px 20px;
  }
}

.blockquote__slick__item__title {
  font-family: archivo;
  font-size: 20px;
  font-weight: 600;
  color: #62619a;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .blockquote__slick__item__title {
    font-size: 12px;
  }
}

.blockquote__slick__item__sub {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.blockquote__slick__item__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .blockquote__slick__item__text {
    font-size: 12px;
  }
}

.space-top {
  width: 100%;
  height: 190px;
}

@media (min-width: 300px) and (max-width: 768px) {
  .space-top {
    width: 100%;
    height: 80px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .space-top {
    width: 100%;
    height: 80px;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .space-top {
    width: 100%;
    height: 200px;
  }
}

@media (min-width: 1900px) {
  .space-top {
    width: 100%;
    height: 180px;
  }
}

.main-picture {
  width: 100%;
  height: 450px;
}

@media (min-width: 1440px) {
  .main-picture {
    width: 100%;
    height: 650px;
  }
}

.main-picture__container {
  width: 100%;
  height: 450px;
  position: relative;
}

@media (min-width: 1440px) {
  .main-picture__container {
    width: 100%;
    height: 650px;
  }
}

.image-top__background {
  width: 100%;
  height: 450px;
  position: absolute;
  z-index: -1;
}

@media (min-width: 1440px) {
  .image-top__background {
    width: 100%;
    height: 650px;
  }
}

.main-picture__group {
  width: 90%;
  height: 450px;
  margin: 0 0 0 5%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media (min-width: 300px) and (max-width: 600px) {
  .main-picture__group {
    text-align: center;
  }
}

@media (min-width: 1440px) {
  .main-picture__group {
    width: 80%;
    height: 650px;
    margin: 0 0 0 10%;
  }
}

.main-picture__title {
  font-family: "Archivo";
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

@media (min-width: 1400px) {
  .main-picture__title {
    font-size: 40px;
  }
}

.main-picture__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #fff;
}

.main-picture__autos-transporte {
  width: 600px;
  height: auto;
  position: absolute;
  bottom: 10%;
  right: 5%;
}

@media (min-width: 1440px) {
  .main-picture__autos-transporte {
    width: 800px;
    height: auto;
  }
}

.main-top__arrow-admin {
  position: absolute;
  bottom: 0;
  right: 0;
}

.main-top__arrow-somos {
  width: 350px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 1400px) {
  .main-top__arrow-somos {
    width: 500px;
    height: auto;
  }
}

.servicesBox {
  width: 100%;
  height: 350px;
  position: relative;
}

@media (min-width: 300px) and (max-width: 600px) {
  .servicesBox {
    margin-top: 150px;
  }
}

@media (min-width: 1200px) {
  .servicesBox {
    margin-top: 100px;
  }
}

.servicesBox__img {
  width: 100%;
  height: auto;
  position: absolute;
}

.servicesBox__container {
  width: 100%;
  height: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.servicesBox__waves {
  width: 250px;
  height: 250px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .servicesBox__waves {
    width: 200px;
    height: 200px;
  }
}

.servicesBox__circle {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .servicesBox__circle {
    width: 100px;
    height: 100px;
  }
}

.servicesBox__circle--green {
  background-color: #7eb441;
}

.servicesBox__circle--purple {
  background-color: #62619a;
}

.listFlat {
  padding: 0;
  margin: 0;
}

@media (min-width: 300px) and (max-width: 768px) {
  .listFlat {
    padding: 0 20px 0 20px;
  }
}

.listFlat__item {
  margin: 30px 0 0 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.listFlat__icon {
  width: 24px;
  height: 20px;
}

.listFlat__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #6d7278;
  padding: 0 0 0 0;
  margin: 0 0 0 25px;
}

.listFlat__title {
  font-family: "Archivo";
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #6d7278;
}

@media (min-width: 300px) and (max-width: 768px) {
  .listFlat__title {
    font-size: 20px;
    padding: 0 20px 0 30px;
  }
}

.blk-contacto {
  width: 100%;
  height: 750px;
  margin-top: 200px;
  position: relative;
}

@media (min-width: 300px) and (max-width: 600px) {
  .blk-contacto {
    width: 100%;
    height: 1300px;
  }
}

.blk-contacto__container {
  width: 100%;
  height: auto;
  position: absolute;
  display: flex;
  flex-direction: row;
}

.contacto__title {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #6d7278;
}

.contacto__title--center {
  text-align: center;
}

.contacto__line {
  width: 100%;
  height: 1px;
  background-color: #7eb441;
}

.contacto__container {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 30px 0 0 0;
}

@media (min-width: 300px) and (max-width: 600px) {
  .contacto__container {
    padding: 0 30px 0 30px;
  }
}

.contacto--card {
  width: 100%;
  height: 500px;
  background-color: #fff;
  box-shadow: 0 0 4px 3px rgba(126, 180, 65, 0.2);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contacto__item {
  margin: 0 0 30px 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.contact__text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0 0 0 10px;
}

.contacto__item--social {
  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.contacto__form {
  padding: 0 50px 0 50px;
  margin: 30px 0 0 0;
}

@media (min-width: 768px) and (max-width: 900px) {
  .contacto__form {
    padding: 0 30px 0 30px;
  }
}

.form-contact__input {
  width: 100%;
  height: 40px;
  padding: 0 0 20px 0;
  margin: 30px 0 0 0;
  border: none;
  border-bottom: solid 1px #6d7278;
}

.sec-mapa {
  width: 100%;
  height: 300px;
  margin-top: 450px;
  position: absolute;
  bottom: 0;
  background-color: #EFEFF4;
}

@media (min-width: 300px) and (max-width: 600px) {
  .sec-mapa {
    width: 100%;
    height: 500px;
  }
}

.cotizador-parrafo {
  margin-bottom: 20px;
}

.cotizador--absolute {
  position: absolute;
  z-index: 1;
}

@media (min-width: 300px) and (max-width: 768px) {
  .cotizador--absolute {
    position: inherit;
    padding: 0 20px 0 20px;
    background-color: #62619a;
  }
}

.cotizador--m-top {
  margin: 20px 0 0 0;
}

.cotizador__container {
  width: 100%;
  height: auto;
}

.cotizador__left {
  width: 100%;
  height: 750px;
  background-color: #62619a;
}

@media (min-width: 300px) and (max-width: 768px) {
  .cotizador__left {
    display: none;
  }
}

@media (min-width: 1900px) {
  .cotizador__left {
    width: 100%;
    height: 800px;
  }
}

.cotizador-parrafo {
  margin-bottom: 100px;
}

.cotizador__decorator {
  width: 300px;
  height: auto;
  position: absolute;
  right: 5%;
  bottom: 0;
}

@media (min-width: 300px) and (max-width: 600px) {
  .cotizador__decorator {
    display: none;
  }
}

@media (min-width: 1440px) {
  .cotizador__decorator {
    width: 600px;
  }
}

.cotizador__cover {
  width: 100%;
  height: 750px;
}

@media (min-width: 300px) and (max-width: 768px) {
  .cotizador__cover {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .cotizador__cover {
    width: 100%;
    height: 750px;
  }
}

@media (min-width: 1900px) {
  .cotizador__cover {
    width: 100%;
    height: 800px;
  }
}

.cotizador__form {
  height: 750px;
  padding: 0 40px 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 300px) and (max-width: 768px) {
  .cotizador__form {
    width: 100%;
    height: auto;
    padding: 20px 0 30px 0;
    background-color: #62619a;
  }
}

@media (min-width: 1900px) {
  .cotizador__form {
    width: 100%;
    height: 800px;
  }
}

.cotizador__autos {
  width: 800px !important;
  height: auto;
  position: absolute;
  right: 5%;
  bottom: 0;
}

.cotizador__input {
  width: 100%;
  height: 60px;
  padding: 20px 30px 20px 50px;
  margin: 13px 0 13px 0;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #6d7278;
}

@media (min-width: 300px) and (max-width: 768px) {
  .cotizador__input {
    padding: 0 0 0 20px;
  }
}

.checkbox {
  display: flex;
  flex-direction: row;
  padding: 30px 0 30px 40px;
}

@media (min-width: 300px) and (max-width: 768px) {
  .checkbox {
    margin: 20px 0 20px 0;
    flex-direction: column;
    padding: 0;
  }
}

.checkbox--purple p {
  color: #ffff !important;
}

.checkbox__radio-circle--withe {
  width: 15px;
  height: 15px;
  margin: 0 10px 0 0;
  border: solid 2px;
  border-radius: 100px;
  border-color: #ffff;
}

.checkbox__radio-fill--withe {
  width: 15px;
  height: 15px;
  margin: 0 10px 0 0;
  border: solid 2px;
  border-radius: 100px;
  border-color: #ffff;
  background-color: #ffff;
}

.checkbox__text {
  font-family: "Open Sans", sans-serif;
  color: #ffff;
  padding: 0 20px 0 0;
}

.checkbox__group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.checkbox__input {
  width: 0;
  height: 0;
  position: absolute;
}

.checkbox__input:checked + .checkbox__radio {
  background-color: #B4B4D0;
}

.checkbox__radio {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border-radius: 100px;
  background-color: #ffff;
}

.checkbos__text {
  margin: 0;
  padding: 0;
}

.checkbox__label {
  margin: 0 0 5px 2px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox__inputs {
  font-family: "Open Sans", sans-serif;
  color: #ffff;
}

.chk-button {
  width: 0;
  height: 0;
  position: absolute;
}

.chk__container {
  margin: 0 0 50px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 300px) and (max-width: 1024px) {
  .chk__container {
    margin: 0 0 20px 0;
    flex-wrap: wrap;
  }
}

.chk-button__container {
  width: 100px;
  height: 65px;
  background-color: #62619a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chk-button__icon {
  width: 50px;
  height: auto;
}

.chk-button__text {
  margin: 2px 0 0 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #ffff;
}

.chk-button:checked + .chk-button__container {
  background-color: #ffff;
}

.chk-button:checked + .chk-button__container .chk-button__text {
  color: #62619a;
}

.chk-button:checked + .chk-button__container .chk-button--active {
  display: block;
}

.chk-button:checked + .chk-button__container .chk-button--default {
  display: none;
}

.chk-button--active {
  display: none;
}

.chk-button--default {
  display: block;
}

.vehicles {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.vehicles__button {
  width: 100px;
  height: 65px;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vehicles__button .vehicles__icon--active {
  display: none;
}

@media (min-width: 300px) and (max-width: 768px) {
  .vehicles__button {
    width: 100%;
    height: 60px;
  }
}

.vehicles__icon {
  width: 50px;
  height: auto;
}

.vehicles__button--active {
  background-color: #ffff;
}

.vehicles__button--active .vehicles__icon--default {
  display: none;
}

.vehicles__button--active .vehicles__icon--active {
  display: block;
}

.vehicles__button--active p {
  color: #62619a;
}

.vehicles__text {
  margin: 5px 0 0 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #ffff;
}

.zindex-1 {
  z-index: 1;
}

.select {
  width: 100%;
  height: 60px;
  border: none;
  padding: 0 20px 0 50px;
  background-color: #ffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.select__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #6d7278;
}

.select__icon {
  color: #6d7278;
}

.options {
  border: solid 1px;
  border-color: #EFEFF4;
  border-radius: 0;
}

.options__item {
  width: 100%;
  height: 60px;
  background-color: #ffff;
}

.options__item:hover {
  background-color: #7eb441 !important;
}

.cotizador__decorator--energia {
  width: 800px;
  height: auto;
  right: 6%;
}

.board {
  width: 100%;
  height: auto;
  margin-top: 30px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .board {
    margin: 0 0 0 30px;
  }
}

.board__button {
  width: 50%;
  height: 150px;
}

.board__button a {
  background-color: #6d7278;
}

.board__button .active .board__item {
  background-color: #7eb441;
  border-color: #7eb441;
}

.board__button .active .board__number {
  color: #ffff;
}

.board__button .active .board__title {
  color: #ffff;
}

.board__button .active .board__icon--default {
  display: none;
}

.board__button .active .board__icon--active {
  display: block;
}

.board__item {
  width: 100%;
  height: 150px;
  padding: 20px;
  border: solid 1px;
  border-color: #e1e1e1;
  background-color: #ffff;
}

.board__number {
  font-family: "Archivo";
  font-weight: 600;
  font-size: 50px;
  color: #62619a;
  opacity: 0.2;
}

.board__title {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #6d7278;
}

.board__link {
  color: #6d7278 !important;
}

.board__container {
  width: auto;
  height: 150px;
  padding: 0;
  margin: 0;
}

.board__group {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.board__icon--default {
  display: block;
}

.board__icon--active {
  display: none;
}

.board__desc {
  border: none !important;
}

.content {
  width: 300px;
  height: auto;
  padding: 0 0 10px 0;
  margin: 0 0 40px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 1px;
  border-color: #62619a;
}

.content__number {
  font-family: "Archivo";
  font-weight: 600;
  font-size: 60px;
  margin: 0;
  color: #EFEFF4;
}

.content__title {
  font-family: "Archivo";
  font-weight: 600;
  line-height: 20px;
  margin: 0 0 0 20px;
  color: #6d7278;
}

.content__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #434343;
}

.board__auto {
  width: 100%;
  height: auto;
}

@media (min-width: 300px) and (max-width: 768px) {
  .board__auto {
    display: none;
  }
}

@media (min-width: 768px) {
  .board__auto {
    display: block;
  }
}

.error {
  width: 1005;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1900px) {
  .error {
    width: 100%;
    height: 500px;
  }
}

.error__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 60px;
  letter-spacing: 10px;
  color: #62619a;
  opacity: 0.3;
}

.error__number {
  font-family: "Archivo";
  font-weight: 600;
  font-size: 150px;
  color: #62619a;
  opacity: 0.3;
}

.error__img--rigth {
  transform: rotate(-180deg);
}

.error__subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #6d7278;
}

.irs-bar {
  background-color: #7eb441 !important;
}

.irs-handle {
  width: 15px !important;
  height: 15px !important;
  margin-top: 5px !important;
  background-color: #7eb441 !important;
  border-color: #7eb441 !important;
}

.irs-to {
  background-color: #EFEFF4 !important;
  color: #6d7278 !important;
}

.irs--round .irs-from:before, .irs--round .irs-to:before, .irs--round .irs-single:before {
  border-top-color: #EFEFF4 !important;
}

.irs-from {
  background-color: #EFEFF4 !important;
  color: #6d7278 !important;
}

.irs-max {
  display: none !important;
}
/*# sourceMappingURL=components.css.map */