.nav {
  width: 100%;
  height: auto;
}

.nav--position {
  position: fixed;
  z-index: 1080;
}

.nav__top {
  width: 100%;
  height: 100px;
  background-color: #ffff;
  border-bottom: solid 1px #e1e1e1;
}

@media (min-width: 768px) and (max-width: 900px) {
  .nav__top {
    width: 100%;
    height: 70px;
    position: fixed;
  }
}

.brand {
  width: 300px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media (min-width: 768px) and (max-width: 900px) {
  .brand {
    width: 100%;
    height: 70px;
  }
}

.brand__logo {
  width: 200px;
  height: auto;
}

@media (min-width: 768px) and (max-width: 900px) {
  .brand__logo {
    width: 130px;
    height: auto;
  }
}

.contact {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.contact__item {
  display: flex;
  flex-direction: row;
}

.contact__text {
  margin: 0 0 0 15px;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #62619a;
}

.nav__bottom {
  width: 100%;
  height: 70px;
  background-color: #ffff;
  border-bottom: solid 1px #e1e1e1;
}

@media (min-width: 768px) and (max-width: 900px) {
  .nav__bottom {
    width: 50%;
    height: 100vh;
    background-color: #ffff;
    position: fixed;
    top: 0;
    left: -70%;
    z-index: 1090;
    box-shadow: 4px 0px 18px 0px rgba(0, 0, 0, 0.45);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .nav__bottom--active {
    left: 0;
  }
}

.menu {
  width: 100%;
  height: 70px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 900px) {
  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.menu__item {
  width: auto;
  height: 70px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #6d7278;
  border-bottom: solid 5px transparent;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu__item:hover {
  border-bottom: solid 5px #62619a;
}

.menu__item--active {
  border-bottom: solid 5px #62619a;
}

.menu__link {
  text-decoration: none;
  color: #6d7278;
}

.menu__link:hover {
  text-decoration: none;
  color: #62619a;
}

.menu__link--active {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #62619a;
}

.button-drawer {
  width: 100%;
  height: 70px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.button-drawer__line {
  width: 30px;
  height: 4px;
  margin: 2px 0 2px 0;
  list-style: none;
  background-color: #62619a;
}

.button-drawer__line--small {
  width: 20px;
  height: 4px;
}

/* Headrom */
.headroom {
  margin: 0;
}

.headroom--unpinned {
  margin-top: -100px;
  transition: all 0.5s ease-in-out;
}

.headroom--top {
  margin-top: -100;
  transition: all 0.5s ease-in-out;
}

.space-top {
  width: 100%;
  height: 185px;
}

@media (min-width: 300px) and (max-width: 1024px) {
  .space-top {
    height: 0px;
  }
}

.top-header {
  width: 100%;
  height: auto;
  border-bottom: solid 1px;
  border-color: #e1e1e1;
}

.top-header p {
  color: #62619a;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

@media (min-width: 300px) and (max-width: 768px) {
  .top-header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .top-header {
    width: 100%;
    height: 70px;
  }
}

.secc-brand {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media (min-width: 300px) and (max-width: 768px) {
  .secc-brand img {
    width: 100%;
  }
}

.header-contact {
  height: 120px;
}

.nav-header {
  width: 100%;
  height: auto;
  border-bottom: solid 1px #e1e1e1;
}

.secc-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.secc-nav a {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #434343;
}

@media (min-width: 700px) and (max-width: 1024px) {
  .secc-nav a {
    font-size: 14px;
    text-align: center;
  }
}

.secc-nav li {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.secc-nav .active {
  border-bottom: solid 5px #62619a;
}

.secc-nav .active a {
  color: #62619a;
  font-weight: 600;
}

.btn-burger {
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-burger li {
  width: 25px;
  height: 2px;
  margin-bottom: 5px;
  background-color: #62619a;
}

.footer-newsletter {
  width: 100%;
  height: auto;
}

.footer-newsletter .bg-box {
  width: 100%;
  background-image: linear-gradient(to bottom, #62619a, #43426b);
}

@media (min-width: 300px) and (max-width: 768px) {
  .footer-newsletter .bg-box {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 900px) {
  .footer-newsletter .bg-box {
    width: 100%;
    height: 271px;
  }
}

@media (min-width: 1200px) {
  .footer-newsletter .bg-box {
    width: 100%;
    height: 271px;
  }
}

@media (min-width: 1440px) {
  .footer-newsletter .bg-box {
    width: 100%;
    height: 350px;
  }
}

.bg-car {
  background-image: url("../../../web/img/group-9.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

@media (min-width: 900px) {
  .img-auto {
    width: 550px;
    height: auto;
    margin-top: 130px;
  }
}

@media (min-width: 1200px) {
  .img-auto {
    width: 700px;
    height: auto;
    margin-top: 90px;
  }
}

@media (min-width: 1440px) {
  .img-auto {
    width: 100%;
    height: auto;
    margin-top: 180px;
  }
}

@media (min-width: 1920px) {
  .img-auto {
    width: 100%;
    height: auto;
    margin-top: 120px;
  }
}

.container-form {
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  font-family: "Archivo", sans-serif;
}

.container-form .btn-submit {
  width: 70px;
  height: 48px;
  border: none;
  background-color: #7eb441;
  background-image: url("../../../web/img/icons/path.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
}

.container-form input {
  width: 300px;
  border: none;
  padding-left: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #434343;
}

@media (min-width: 300px) and (max-width: 700px) {
  .container-form input {
    width: 200px;
    font-size: 13px;
    padding-left: 12px;
  }
}

@media (min-width: 900px) {
  .container-form {
    height: 271px;
  }
}

@media (min-width: 1200px) {
  .container-form {
    height: 271px;
  }
}

@media (min-width: 1440px) {
  .container-form {
    height: 350px;
  }
}

.footer-nav {
  width: 100%;
  height: 80px;
  margin-top: 170px;
  border-bottom: solid;
  border-top: solid;
  border-width: 1px;
  border-color: #e1e1e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 300px) and (max-width: 700px) {
  .footer-nav {
    height: auto;
    margin-top: 30px;
  }
}

@media (min-width: 700px) and (max-width: 900px) {
  .footer-nav {
    margin-top: 20px;
  }
}

.footer-nav ul {
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 300px) and (max-width: 700px) {
  .footer-nav ul {
    flex-direction: column;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
  }
}

@media (min-width: 700px) and (max-width: 900px) {
  .footer-nav ul {
    text-align: center;
  }
}

.footer-nav ul a {
  text-decoration: none;
  color: #434343;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.footer-info {
  height: 150px;
  border-bottom: solid 1px #e1e1e1;
}

.footer-info .box-footer {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-info .box-footer p {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #62619a;
}

@media (min-width: 700px) and (max-width: 900px) {
  .footer-info .box-footer {
    height: auto;
  }
}

@media (min-width: 300px) and (max-width: 700px) {
  .footer-info {
    height: auto;
    flex-direction: column;
  }
  .footer-info .footer-contact {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer-info .box-footer {
    height: auto;
    padding: 10px;
  }
  .footer-info .icon-faceboock {
    width: 40px;
    height: 40px;
    margin-top: 30px;
  }
  .footer-info .icon-instagram {
    width: 40px;
    height: 40px;
    margin-top: 30px;
  }
  .footer-info .icon-twitter {
    width: 40px;
    height: 40px;
    margin-top: 30px;
  }
}

@media (min-whidt: 768px) and (max-width: 1024px) {
  .footer-info {
    height: 500px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .footer-info .box-footer p {
    font-size: 20px;
  }
  .footer-info .box-footer .icon-faceboock {
    width: 60px;
    height: 60px;
    margin-top: 30px;
  }
  .footer-info .box-footer .icon-instagram {
    width: 60px;
    height: 60px;
    margin-top: 30px;
  }
  .footer-info .box-footer .icon-twitter {
    width: 60px;
    height: 60px;
    margin-top: 30px;
  }
}

.box-author {
  height: 70px;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #434343;
}

.box-author p {
  margin: 0;
}

.box-author a {
  margin-left: 30px;
  text-decoration: none;
  color: #434343;
}

@media (min-width: 300px) and (max-width: 700px) {
  .box-author {
    height: 130px;
    text-align: center;
    flex-direction: column;
  }
  .box-author p {
    font-size: 14px;
  }
  .box-author a {
    margin-left: 0;
    margin-top: 10px;
  }
}

.layout-hide {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  background-color: black;
  opacity: 0.6;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container-nav-mobile {
  width: 80%;
  height: 100vh;
  position: fixed;
  margin-left: -100%;
  z-index: 1050;
  background-color: white;
  top: 0;
  box-shadow: 9px 0px 25px 0px rgba(0, 0, 0, 0.43);
  transition: all .4s ease-in-out;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container-nav-mobile {
    width: 50%;
  }
}

.nav-mobile {
  list-style: none;
  padding: 0;
}

.nav-mobile li {
  width: 100%;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 15px;
  border-bottom: solid 1px #e1e1e1;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-mobile li a {
  text-decoration: none;
  color: #434343;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.nav-mobile .active {
  background-color: #62619a;
  padding-left: 0;
  border: none;
}

.nav-mobile .active a {
  color: white;
}

.btn-close-menu {
  background-color: #62619a;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-close-menu p {
  margin: 0;
}

.show-menu {
  margin-left: 0;
  transition: all .4s ease-in-out;
}

/* Imagenes superiores */
.header-page {
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 20px;
  margin-bottom: 50px;
}

@media (min-width: 300px) and (max-width: 768px) {
  .header-page {
    height: 300px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header-page {
    height: 350px;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .header-page {
    height: 500px;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .header-page {
    height: 450px;
  }
  .header-page .container {
    height: 450px;
  }
}

@media (min-width: 1440px) {
  .header-page {
    height: 600px;
  }
  .header-page .container {
    height: 600px;
  }
}

.text-header {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .text-header {
    font-size: 24px;
  }
}

@media (min-width: 1440px) {
  .text-header {
    font-size: 40px;
  }
}

/* Seminuevos */
.header-seminuevos {
  background-image: url("../../../web/img/pag_seminuevo/rectangle.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 300px) {
  .header-seminuevos {
    background-image: url("../../../web/img/pag_seminuevo/rectangle@2x.jpg");
    background-position: right;
  }
}

@media (min-width: 768px) {
  .header-seminuevos {
    background-image: url("../../../web/img/pag_seminuevo/rectangle@3x.jpg");
    background-position: right;
  }
}

/* Nuestra empresa */
.header-about {
  background-image: url("../../../web/img/pag_about/rectangle.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 300px) {
  .header-about {
    background-image: url("../../../web/img/pag_about/rectangle@2x.jpg");
    background-position: right;
  }
}

@media (min-width: 768px) {
  .header-about {
    background-image: url("../../../web/img/pag_about/rectangle@2x.jpg");
    background-position: right;
  }
}

/* Aviso de privacidad */
.header-privacidad {
  background-image: url("../../../web/img/pag_privacidad/rectangle@3x.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 300px) {
  .header-privacidad {
    background-image: url("../../../web/img/pag_privacidad/rectangle.jpg");
    background-position: right;
  }
}

@media (min-width: 768px) {
  .header-privacidad {
    background-image: url("../../../web/img/pag_privacidad/rectangle@2x.jpg");
    background-position: right;
  }
}

.input-contact {
  width: 100%;
  height: auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  border: none;
  padding-bottom: 10px;
  margin-bottom: 25px;
  border-bottom: solid 1px #979797;
}

.form-contact {
  width: 100%;
  height: 519px;
  padding: 60px;
  background-color: white;
  box-shadow: 0 0 4px 3px rgba(126, 180, 65, 0.2);
}

.secc-mapa {
  width: 100%;
  height: 400px;
  margin-top: -80px;
  background-color: #e1e1e1;
  z-index: -1;
}

.slickCarousel {
  width: 100%;
  height: auto;
}

.slickCarousel--green {
  background-color: #7eb441;
}

.slickCartousel__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.slickCarousel__container--szLarge {
  height: 200px;
}

.slick-next {
  border: none;
  background-color: transparent;
}

.arrow-next {
  width: 70px;
  height: 50px;
  background-image: url("/web/img/pag_at_tran/path.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.arrow-prev {
  width: 70px;
  height: 50px;
  background-image: url("/web/img/pag_at_tran/path.svg");
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.formContainer {
  width: 100%;
  height: 750px;
}

@media (min-width: 300px) and (max-width: 768px) {
  .formContainer {
    width: 100%;
    height: auto;
  }
}

.bgForm {
  width: 100%;
  height: 750px;
  background-color: #62619a;
}

@media (min-width: 300px) and (max-width: 768px) {
  .bgForm {
    width: 100%;
    height: 700px;
  }
}

.imgCoverForm {
  width: 100%;
  height: auto;
}

.imgCoverForm img {
  width: 100%;
  height: 750px;
}

@media (min-width: 300px) and (max-width: 768px) {
  .imgCoverForm img {
    display: none;
  }
}

.arrowsOrnamentForm {
  width: auto;
  height: 240px;
  margin-right: 110px;
}

@media (min-width: 300px) and (max-width: 768px) {
  .arrowsOrnamentForm {
    display: none;
  }
}

.formContainer {
  width: 100%;
  height: 750px;
  padding: 0 40px 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 300px) and (max-width: 768px) {
  .formContainer {
    padding: 0 10px 0 10px;
  }
}

@media (min-width: 1440px) {
  .formContainer {
    padding: 0 60px 0 60px;
  }
}

.listBullets {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.listBullets__item {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 30px 0 0 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@media screen and (min-width: 1900px) {
  .listBullets__item {
    margin: 40px 0 0 0;
  }
}

.listBullets__item--center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.listBullets__item__container {
  width: 90%;
  height: auto;
}

.listBullets__circle {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.listBullets__circle--purple {
  background-color: #62619a;
}

.listBullets__circle--green {
  background-color: #7eb441;
}

.listBullets__circle--rounded {
  border-radius: 100px;
}

.listBullets__icon {
  width: 17px;
  height: 14px;
}

.listBullets__icon--left {
  transform: rotate(180deg);
}

.listBullets__icon--rigth {
  transform: rotate(360deg);
}

.listBullets__icon--flat {
  margin-right: 10px;
}

.listBullets__item__title {
  margin: 0 0 10px 17px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #434343;
}

.listBullets__text {
  margin: 0 0 0 17px;
  color: #434343;
}

@media (min-width: 300px) and (max-width: 768px) {
  .listBullets__text {
    width: 80%;
    height: auto;
    padding: 0 10px 0 10px;
  }
}

@media screen and (min-width: 1900px) {
  .listBullets__text {
    font-size: 20px;
  }
}

.blockTitle {
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #6d7278;
  text-transform: uppercase;
}

.underlined {
  width: 100%;
  height: 1px;
}

.underlined--green {
  background-color: #7eb441;
}

.paragraph__title {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #6d7278;
  padding: 0 0 10px 0;
}

.paragraph__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #6d7278;
  text-align: center;
}

.paragraph__title--border {
  border-bottom: solid 1px #7eb441;
}

.button {
  width: 100%;
  height: auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 0;
  background-color: transparent;
}

.button--sz-medium {
  height: 50px;
}

.button--center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button--start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.button--rounded {
  border-radius: 100px;
}

.button--border-0 {
  border: none;
}

.button--border-1 {
  border: solid 1px;
}

.button--border-2 {
  border: solid 2px;
}

.button--border-green {
  border-color: #7eb441;
}

.button--avatar {
  width: 260px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button__icon {
  width: 50px;
  height: 50px;
}

.button--bg-green {
  background-color: #7eb441;
  color: #ffff;
}

.button__text {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #6d7278;
  margin: 0;
}

.button__text--left {
  text-align: left;
}

.button__text--center {
  padding: 0 17px 0 10px;
}

.button--hover-green:hover {
  background-color: #7eb441;
}

.button--hover-green:hover p {
  color: #ffff;
}

.button__avatar {
  width: 50px;
  height: 50px;
}

.img-lorem {
  width: 200px;
  height: 150px;
  background-color: #434343;
}

.blockquote {
  width: 100%;
  height: 550px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .blockquote {
    width: 100%;
    height: 500px;
  }
}

@media (min-width: 1900px) {
  .blockquote {
    height: 750px;
  }
}

.blockquote--green {
  background-color: #7eb441;
}

.blockquote--controls {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blockquote__text {
  margin: 10px 0 0 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  line-height: 25px;
}

@media (min-width: 1900px) {
  .blockquote__text {
    margin: 20px 0 0 0;
    font-size: 20px;
  }
}

.blockquote__controls {
  width: 55px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1900px) {
  .blockquote__controls {
    width: 70px;
  }
}

.blockquote__controls__prev {
  transform: rotate(180deg);
}

.blockquote__path {
  width: 85%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #7eb441;
  position: absolute;
}

.blockquote__img {
  width: 500px;
  height: auto;
  position: absolute;
  top: 11%;
  right: 0;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .blockquote__img {
    width: 400px;
    height: auto;
    top: 17%;
    right: 0;
  }
}

@media (min-width: 1900px) {
  .blockquote__img {
    width: 700px;
    height: auto;
    top: 12%;
    right: 0;
  }
}

.blockquote__quote {
  width: 100px;
  height: auto;
  margin-left: 25%;
}

@media (min-width: 1900px) {
  .blockquote__quote {
    width: 150px;
    height: auto;
    margin-left: 20%;
  }
}

.blockquote__slick {
  width: 100%;
  height: 550px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1024px) {
  .blockquote__slick {
    width: 100%;
    height: 500px;
  }
}

.blockquote__slick__item {
  width: 400px;
  height: 300px;
  padding: 0 40px 0 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #ffffff;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .blockquote__slick__item {
    width: 220px;
    height: auto;
    padding: 20px 20px 20px 20px;
  }
}

.blockquote__slick__item__title {
  font-family: archivo;
  font-size: 20px;
  font-weight: 600;
  color: #62619a;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .blockquote__slick__item__title {
    font-size: 12px;
  }
}

.blockquote__slick__item__sub {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.blockquote__slick__item__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .blockquote__slick__item__text {
    font-size: 12px;
  }
}

.imageBox {
  width: 100%;
  height: 450px;
  position: relative;
}

@media (min-width: 300px) and (max-width: 768px) {
  .imageBox {
    width: auto;
    height: 500px;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .imageBox {
    width: 100%;
    height: 350px;
  }
}

@media (min-width: 1900px) {
  .imageBox {
    width: 100%;
    height: 700px;
  }
}

.space-top {
  width: 100%;
  height: 190px;
}

@media (min-width: 300px) and (max-width: 768px) {
  .space-top {
    width: 100%;
    height: 70px;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .space-top {
    width: 100%;
    height: 160px;
  }
}

.imageBox__img {
  width: 100%;
  height: auto;
  position: absolute;
}

@media (min-width: 300px) and (max-width: 768px) {
  .imageBox__img {
    width: auto;
    height: 500px;
    right: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .imageBox__img {
    width: 100%;
    height: auto;
  }
}

.imageBox__decorator {
  width: 100%;
  height: auto;
  position: absolute;
}

.imageBox__decorator--small {
  width: 20%;
  height: auto;
}

@media (min-width: 1900px) {
  .imageBox__decorator--small {
    width: 25%;
    height: auto;
  }
}

.imageBox__decorator--medium {
  width: 40%;
  height: auto;
}

.imageBox__container {
  width: 100%;
  height: 450px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 300px) and (max-width: 768px) {
  .imageBox__container {
    width: 100%;
    height: 500px;
  }
}

@media (min-width: 1900px) {
  .imageBox__container {
    width: 100%;
    height: 700px;
  }
}

.imageBox__title {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  color: #ffff;
}

.imageBox__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #ffff;
}

.servicesBox {
  width: 100%;
  height: 350px;
  position: relative;
}

.servicesBox__img {
  width: 100%;
  height: auto;
  position: absolute;
}

.servicesBox__container {
  width: 100%;
  height: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.servicesBox__waves {
  width: 250px;
  height: 250px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .servicesBox__waves {
    width: 200px;
    height: 200px;
  }
}

.servicesBox__circle {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .servicesBox__circle {
    width: 100px;
    height: 100px;
  }
}

.servicesBox__circle--green {
  background-color: #7eb441;
}

.servicesBox__circle--purple {
  background-color: #62619a;
}

.listFlat {
  padding: 0;
  margin: 0;
}

@media (min-width: 300px) and (max-width: 768px) {
  .listFlat {
    padding: 0 20px 0 20px;
  }
}

.listFlat__item {
  margin: 30px 0 0 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.listFlat__icon {
  width: 24px;
  height: 20px;
}

.listFlat__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #6d7278;
  padding: 0 0 0 0;
  margin: 0 0 0 25px;
}

.listFlat__title {
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #6d7278;
}

@media (min-width: 300px) and (max-width: 768px) {
  .listFlat__title {
    font-size: 20px;
    padding: 0 20px 0 30px;
  }
}

.cotizador--absolute {
  position: absolute;
  z-index: 1;
}

@media (min-width: 300px) and (max-width: 768px) {
  .cotizador--absolute {
    position: inherit;
    padding: 0 20px 0 20px;
    background-color: #62619a;
  }
}

.cotizador__container {
  width: 100%;
  height: auto;
}

.cotizador__left {
  width: 100%;
  height: 750px;
  background-color: #62619a;
}

@media (min-width: 300px) and (max-width: 768px) {
  .cotizador__left {
    display: none;
  }
}

@media (min-width: 1900px) {
  .cotizador__left {
    width: 100%;
    height: 800px;
  }
}

.cotizador__decorator {
  width: 650px;
  height: auto;
  position: absolute;
  right: 5%;
  bottom: 0;
}

@media (min-width: 300px) and (max-width: 700px) {
  .cotizador__decorator {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .cotizador__decorator {
    width: 600px;
  }
}

@media (min-width: 1440px) {
  .cotizador__decorator {
    width: 720px;
  }
}

.cotizador__cover {
  width: 100%;
  height: 750px;
}

@media (min-width: 300px) and (max-width: 700px) {
  .cotizador__cover {
    height: auto;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .cotizador__cover {
    width: 100%;
    height: 750px;
  }
}

@media (min-width: 1900px) {
  .cotizador__cover {
    width: 100%;
    height: 800px;
  }
}

.cotizador__form {
  width: 100%;
  height: 750px;
  padding: 0 40px 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 300px) and (max-width: 768px) {
  .cotizador__form {
    width: 100%;
    height: auto;
    padding: 20px 0 30px 0;
    background-color: #62619a;
  }
}

@media (min-width: 1900px) {
  .cotizador__form {
    width: 100%;
    height: 800px;
  }
}

.cotizador__input {
  width: 100%;
  height: 60px;
  padding: 20px 30px 20px 50px;
  margin: 30px 0 0 0;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #6d7278;
}

@media (min-width: 300px) and (max-width: 768px) {
  .cotizador__input {
    padding: 0 0 0 20px;
  }
}

.checkbox {
  display: flex;
  flex-direction: row;
  padding: 40px 0 40px 40px;
}

@media (min-width: 300px) and (max-width: 768px) {
  .checkbox {
    flex-direction: column;
    padding: 0;
  }
}

.checkbox__text {
  font-family: "Open Sans", sans-serif;
  color: #ffff;
  padding: 0 20px 0 0;
}

.checkbox__inputs {
  font-family: "Open Sans", sans-serif;
  color: #ffff;
}

.vehicles {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.vehicles__button {
  width: 100px;
  height: 65px;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vehicles__button .vehicles__icon--active {
  display: none;
}

@media (min-width: 300px) and (max-width: 768px) {
  .vehicles__button {
    width: 100%;
    height: 60px;
  }
}

.vehicles__icon {
  width: 50px;
  height: auto;
}

.vehicles__button--active {
  background-color: #ffff;
}

.vehicles__button--active .vehicles__icon--default {
  display: none;
}

.vehicles__button--active .vehicles__icon--active {
  display: block;
}

.vehicles__button--active p {
  color: #62619a;
}

.vehicles__text {
  margin: 5px 0 0 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #ffff;
}

.zindex-1 {
  z-index: 1;
}
/*# sourceMappingURL=components.css.map */