@mixin icon-theme {
    width: 25px;
    height: 25px;
    margin-right: 14px;
}

.icon-phone{
    @include icon-theme();
    background-image: url('../../web/img/icons/icon_phone.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-mail{
    @include icon-theme();
    background-image: url('../../web/img/icons/icon_mail.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-mapa{
    @include icon-theme();
    background-image: url('../../web/img/icons/icon_map.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-faceboock{
    @include icon-theme();
    background-image: url('../../web/img/icons/icon_faceboock.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-instagram{
    @include icon-theme();
    background-image: url('../../web/img/icons/icon_instagram.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-twitter {
    @include icon-theme();
    background-image: url('../../web/img/icons/icon_twitter.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-faceboock-w{
    @include icon-theme();
    background-image: url('../../web/img/icons/iconFaceboock-w.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-instagram-w{
    @include icon-theme();
    background-image: url('../../web/img/icons/iconInstagram-w.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-twitter-w{
    @include icon-theme();
    background-image: url('../../web/img/icons/iconTwitter-w.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-arrow {
    width: 60px;
    height: 60px;
    background-image: url('../../../web/img/icons/path.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}
.icon-circle{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: $color-purple-01;
    border: solid 3px;
    border-radius: 100px;
    border-color: $color-gray-01;
    opacity: 0.3;
}
.close-arrow{
    width: 30px;
    height: 30px;
    background-image: url('../../../web/img/icons/path.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    transform: rotate(180deg);
}
.icon-vehicle-01{
    width: 99px;
    height: 37px;
    background-image: url('../../web/img/pag_seminuevo/sedan-car-model.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.icon-vehicle-02{
    width: 99px;
    height: 37px;
    background-image: url('../../web/img/pag_seminuevo/car-of-hatchback-model.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.icon-vehicle-03{
    width: 99px;
    height: 37px;
    background-image: url('../../web/img/pag_seminuevo/suv-car.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.icon-vehicle-04{
    width: 99px;
    height: 37px;
    background-image: url('../../web/img/pag_seminuevo/pick-up.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.icon-auto{
    width: 46px;
    height: 20px;
    background-image: url('../../web/img/icons/iconAutos.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.icon-computo{
    width: 46px;
    height: 25px;
    background-image: url('../../web/img/icons/iconComputo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.icon-energia{
    width: 46px;
    height: 25px;
    background-image: url('../../web/img/icons/iconEnergia.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.icon-calendario{
    width:  15px;
    height: 15px;
    background-image: url('../../web/img/icons/iconCalendario.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

