//Color gray
$color-gray-01: #e1e1e1;
$color-gray-02: #434343;
$color-gray-03: #6d7278;
$color-gray-04: #EFEFF4;
$color-gray-05: #d5d5d5;
$color-gray-06: #909090;
$color-gray-07: #979797;

//Color Green
$color-green-default: #7eb441;
$color-green-01:#7eb441;
$color-green-02: #70a039;
$color-green-03: #afd088;

//Color Purple
$color-purple-01: #62619a;


//Fonts
$openSans: 'Open Sans', sans-serif;
$archivo: 'Archivo';
