$color-purple-01: #62619a;
$color-gray-01: #e1e1e1;
$color-gray-02: #434343;
$color-gray-03: #6d7278;
$color-gray-04: #EFEFF4;
$color-gray-05: #d5d5d5;
$color-gray-06: #909090;
$color-gray-07: #979797;

$color-green-default: #7eb441;
$color-green-hover: #70a039;
$color-green-03: #afd088;
//Fonts
$openSans: 'Open Sans', sans-serif;
$archivo: 'Archivo', sans-serif;

//Css url
$img_url: '../../../web/img';